<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>DSD-PD Coaching Application | Action Plan Form</title>

<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />

<link rel="icon" type="image/png" href="img/favicon.ico" />

<!--   JS Files   -->
<script src="js/lib/jquery.js"></script>
<script src="js/lib/jquery-ui.min.js"></script>
<script src="js/lib/timepicker.js"></script>
<script src="js/lib/bootstrap.min.js"></script>
<script src="js/lib/bootstrap-select.js"></script>
<script src="js/lib/bootstrap-multiselect.js"></script>
<script src="js/lib/jquery.validate.min.js"></script>
<script src="js/lib/light-bootstrap-dashboard.js"></script>
<script src="js/actionForm.js"></script>

<!--   CSS Files   -->
<link href="css/lib/jquery-ui.css" rel="stylesheet" />
<link href="css/lib/bootstrap.min.css" rel="stylesheet" />
<link href="css/lib/light-bootstrap-dashboard.css" rel="stylesheet" />
<link href="css/lib/timepicker.css" rel="stylesheet" />
<link href="css/lib/bootstrap-multiselect.css" rel="stylesheet" />
<link href="css/misc.css" rel="stylesheet" />

<!--   Fonts and icons     -->
<link href="css/lib/pe-icon-7-stroke.css" rel="stylesheet" />
<link href='//fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css' />
<link href='//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css' rel='stylesheet' type='text/css' />

</head>
<body>
	<div class="wrapper">
		<div th:replace="fragments/nav :: nav"></div>

		<div class="main-panel">
			<div th:replace="fragments/header :: header"></div>

			<div class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-10">
							<div class="card">
								<div class="header">
									<h2 class="title">Action Plan Form</h2>
								</div>
								<div class="content">
									<form id="frm" name="frm" action="#" th:action="@{/actionPlanForm}" th:object="${actionPlanData}"
										method="post" enctype="multipart/form-data">
										<div class="row">
											<div class="col-md-5">
												<div class="form-group">
													<label>School</label> <select id="schoolId"
														class="form-control" th:field="*{schoolId}">
														<option value="">Please Select</option>
														<option th:each="school: ${schoolList}"
															th:value="${school.id}" th:text="${school.name}"></option>
													</select>
												</div>
											</div>
										</div>
										
										<div class="row">
											<div class="col-md-2">
												<div class="form-group">
													<label>Grade Level</label>
													<select th:field="*{grade}">
														<option value=""> Please Select </option>
														<option	th:value="Kindergarden" th:text="K"></option>
														<option th:value="'First Grade'" th:text="1"></option>
														<option th:value="'Second Grade'" th:text="2"></option>
														<option th:value="'Third Grade'" th:text="3"></option>
														<option th:value="'Fourth Grade'" th:text="4"></option>
														<option th:value="'Fifth Grade'" th:text="5"></option>
														<option th:value="'Sixth Grade'" th:text="6"></option>
														<option th:value="'Seventh Grade'" th:text="7"></option>
														<option th:value="'Eighth Grade'" th:text="8"></option>
														<option th:value="'Ninth Grade'" th:text="9"></option>
														<option th:value="'Tenth Grade'" th:text="10"></option>
														<option th:value="'Eleventh Grade'" th:text="11"></option>
														<option th:value="'Twelvth Grade'" th:text="12"></option>
														<option th:value="'All'" th:text="All_Grades"></option>
													</select>
												</div>
											</div>
										
										
											<div class="col-md-2">
												<div class="form-group" style="margin-left: 35px;">
													<label>Subject</label>
													<select th:field="*{subject}">
														<option value=""> Please Select </option>
														<option th:value="'Math'" th:text="Math"></option>
														<option th:value="'SocialStudies'" th:text="SocialStudies"></option>
														<option th:value="'Science'" th:text="Science"></option>
														<option th:value="'ELAR'" th:text="ELAR"></option>
														<option th:value="'All'" th:text="All_Subjects"></option>
														<option th:value="'Other'" th:text="Other"></option>
													</select>
												</div>
											</div>
										</div>
										
										<div class="row">	
											<div class="col-md-2">
												<div class="form-group">
													<label>Owner</label>
													<select th:field="*{owner}">
														<option th:value="'Administrators'" th:text="Administrators"></option>
														<option th:value="'Coaches'" th:text="Coaches"></option>
														<option th:value="'Teachers'" th:text="Teachers"></option>
														<option th:value="'DSDPD Staff'" th:text="DSDPDStaff"></option>
													</select>
												</div>
											</div>
										</div>
											
											<div class="row">	
												<div class="col-md-2">
													<div class="form-group">
														<label>Action Items</label>
								      					<div class="input-group control-group after-add-more">
								      						<div class="col-md-10">
								      							<div class="input_wrap">
								      								<div>
									      								<input type="text" name="task[]" id="task[]" th:field="*{taskList[0].task}" size="75" placeholder="Task"></input>
											   						</div>
											   					</div>
											   				</div>
													  		<div class="input-group-btn" style="float:right; align:middle;"> 
																<button class="btn-xs add-more" id="add-more" type="button">Add Tasks</button> 
													  		</div>
													  	</div>
													</div>
												</div>
											</div>
											
										<button type="submit" class="btn btn-info btn-fill pull-right"
											name="Submit" value="Submit">Submit</button>
										<div class="clearfix"></div>
									</form>
								</div>
							</div>

							<div th:replace="fragments/footer :: footer"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>