<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
		<title>DSD-PD Coaching Application | Coaching Report</title>
		<meta charset="utf-8" />	
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
		
		<link rel="icon" type="image/png" href="img/favicon.ico"/>
		
		<!--   JS Files   -->
		<script src="js/lib/jquery.js"></script>
		<script src="js/lib/jquery-ui.min.js"></script>
		<script src="js/lib/bootstrap.min.js"></script>
		<script src="js/lib/light-bootstrap-dashboard.js"></script>
		<script src="js/coachingReport.js"></script>
		
		<!--   CSS Files   -->
		<link href="css/lib/jquery-ui.css" rel="stylesheet"/>
	    <link href="css/lib/bootstrap.min.css" rel="stylesheet"/>
	    <link href="css/lib/light-bootstrap-dashboard.css" rel="stylesheet"/>
	    <link href="css/misc.css" rel="stylesheet"/>
	    
	    <!--   Fonts and icons     -->
	    <link href="css/lib/pe-icon-7-stroke.css" rel="stylesheet"/>
    	    <link href='//fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'/>
    	    <link href='//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css' rel='stylesheet' type='text/css'/>
    </head>
    <body>
		<div class="wrapper">
		    <div th:replace="fragments/nav :: nav"></div>
		    
			<div class="main-panel">
			    <div th:replace="fragments/header :: header"></div>

		        <div class="content">
		            <div class="container-fluid">
		                <div class="row">
		                    <div class="col-md-10">
		                        <div class="card">
		                            <div class="header">
		                                <h2 class="title">Coaching Report</h2>
		                            </div>
		                            <div class="content">
		                                <form id="frm" name="frm" action="#" th:action="@{/coachingForm}" th:object="${coachingData}" method="post" enctype="multipart/form-data">
		                                		<div class="row">
		                                        <div class="col-md-4">
		                                            <div class="form-group">
		                                                <label>School</label>
		                                                <select id="schoolName" class="form-control">
			                                                	<option value="0">Please Select</option>
			                                                	<option th:each="school: ${schoolList}" th:value="${school.id}" th:text="${school.name}"></option>
														</select>
		                                            </div>
		                                     	</div>                          
		      
		                                     	<div class="col-md-4">
		                                            <div class="form-group">
		                                                <label>Teacher</label>
														<select id="teacherName" class="form-control">
			                                                	<option value="0">Please Select</option>
														</select>
		                                            </div>
		                                     	</div>
		                                 	</div>

											<div class="row">
		                                     	<div class="col-md-3">
		                                         	<div class="form-group">
													<label>Date</label> 
													<select name="date" id="date" class="form-control">
														<option value="0">Please Select</option>
													</select>
												</div>
		                                     	</div>
			                                   	<div class="col-md-2">
				                                    <div class="form-group">
				                                        <label>Start Time</label>
				                                        <input type="text" class="form-control timepicker appt_time" readonly="readonly" style="border: 0px; background-color:transparent;" id="timeStart"/>
				                                    </div>
			                                     </div>
			                                     <div class="col-md-2">
			                                        <div class="form-group">
			                                            <label>End Time</label>
			                                            <input type="text" class="form-control" readonly="readonly" style="border: 0px; background-color:transparent;" id="timeEnd"/>
			                                        </div>
			                                     </div>
			                                     <div class="col-md-2">
		                                            <div class="form-group">
		                                                <label>Recorded By</label>
		                                                <input type="text" class="form-control" id="user" readonly="readonly" style="border: 0px; background-color:transparent;  text-align:left"/>
		                                            </div>
		                                         </div>
											</div>
			                                
											<div class="row">
												<div class="col-md-4">
													<div class="form-group">
														<label>Lesson Title</label>
														<input type="text" class="form-control" id="lessonTitle" readonly="readonly" style="border: 0px; background-color:transparent; text-align:left"/>
													</div>
												</div>
											
												<div class="col-md-8">
													<div class="form-group button" style="display:none">
														<label>Email Report</label><br />
														
														<div class="checkboxes">
															<input type="checkbox" id="teacherCheckbox" value="teachercheckbox"/>
															<label for="teacherCheckbox" class="checkbox-inline" id="teacherLabel" style="margin-left: 2px; padding-left:2px; padding-top:4px; padding-right:15px;"></label>
															<br />
															<input type="checkbox" id="adminCheckbox" value="admincheckbox"/>
															<label for="adminCheckbox" class="checkbox-inline" id="adminLabel" style="margin-left: 2px; padding-left:2px; padding-top:4px;"></label>
														</div>
														<button type="button" name="button" class="btn btn-info" id="button">Email Selected Person(s)</button>        
													</div>
												</div>
											</div>
											
											<!--  
											<div class="row">
												<div class="col-md-9">
													<div class="form-group">
														<label>Photo</label><br />
														<img id="classPhoto" width="400" height="350" src="" style="display:none" /><br/>
													</div>
												</div>
											</div>
											-->
											
											
											<div class="row">
												<div class="col-md-9">
													<div class="form-group">
														<label>Notes</label>
														<textarea rows="5" cols="50" class="form-control" placeholder="Notes for teacher evaluation" id="notes" wrap="hard" maxlength="500"></textarea><br/>
													</div>
												</div>
											</div>
											
											<div class="row">
												<div class="col-md-9">
													<div class="form-group">
														<label>Strategies</label>                                            
														<textarea rows="4" cols="50" class="form-control" placeholder="Strategies for teacher evaluation" id="strategies" wrap="hard" maxlength="300"></textarea><br/>
													</div>
												</div>
											</div>
											
											<div class="row">
												<div class="col-md-9">
													<div class="form-group">
														<label>Next Steps</label>
														<textarea rows="4" cols="50" class="form-control" placeholder="Steps for teacher evaluation" id="goals" wrap="hard" maxlength="200"></textarea><br/>
													</div>
												</div>
											</div>
											
											<div class="row">
												<div class="col-md-9">
													<div class="form-group">
														<label>Suggested Tools</label>                                            
														<textarea rows="4" cols="50" class="form-control" placeholder="Tools for teacher evaluation" id="tools" wrap="hard" maxlength="200"></textarea><br/>
													</div>
												</div>
											</div>

		                                    <button type="submit" class="btn btn-info btn-fill pull-right" name="Submit" value="Submit">Submit</button>
		                                    <div class="clearfix"></div>
		                                </form>
		                            </div>
		                        </div>
									
								<div th:replace="fragments/footer :: footer"></div>
		                    </div>
		                </div>
		            </div>
		        </div>
			</div>
		</div>
	</body>
</html>