<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

<title>DSD-PD Coaching Application | Dashboard</title>

<link rel="icon" type="image/png" href="img/favicon.ico" />

<!--   JS Files   -->
<script src="js/lib/jquery.js"></script>
<script src="js/lib/jquery-ui.min.js"></script>
<script src="js/lib/bootstrap.min.js"></script>
<script src="js/lib/bootstrap-select.js"></script>
<script src="js/lib/bootstrap-multiselect.js"></script>
<script src="js/lib/jquery.validate.min.js"></script>
<script src="js/lib/light-bootstrap-dashboard.js"></script>
<script src="js/lib/gstatic.js"></script>
<script src="js/dashboard.js"></script>
<script src="js/lib/highcharts.js"></script>
<script src="js/lib/highcharts-3d.js"></script>
<script src="js/master.js"></script>

<!--   CSS Files   -->
<link href="css/lib/jquery-ui.css" rel="stylesheet" />
<link href="css/lib/bootstrap.min.css" rel="stylesheet" />
<link href="css/lib/light-bootstrap-dashboard.css" rel="stylesheet" />
<link href="css/lib/timepicker.css" rel="stylesheet" />
<link href="css/lib/bootstrap-multiselect.css" rel="stylesheet" />
<link href="css/misc.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet" />


<!--   Fonts and icons     -->
<link href="css/lib/pe-icon-7-stroke.css" rel="stylesheet" />
<link href='//fonts.googleapis.com/css?family=Roboto:400,700,300'
	rel='stylesheet' type='text/css' />
</head>
<body>
	<div class="wrapper">
		<div th:replace="fragments/nav :: nav"></div>

		<div class="main-panel">
			<div th:replace="fragments/header :: header"></div>

			<div class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-11">
							<div class="card">
								<div class="header">
									<h2 class="title">Dashboard</h2>
								</div>
								<div class="content">

									<div class="row">
										<div class="col-md-11">
											<div class="panel panel-default">
												<div class="panel-heading">
													<div id="school"></div>
													<h3 class="panel-title">
														<i class="fa fa-chart-pie"></i><b> Teacher Statistics</b>
													</h3>
												</div>
												
												<br />

												<div class="col-md-12">
													<div class="form-group col-md-5" id="schoolIdGroup" style="padding-top: 10px;">
														<label><b>School</b></label>
		                                                	<select id="schoolId" class="form-control" style="font-size: 12px;" th:field="*{schoolList}">
			                                                	<option value="">Please Select</option>
			                                                	<option th:each="school: ${schoolList}" 
			                                                			th:value="${school.id}" 
			                                                			th:text="${school.name}">
			                                                	</option>
															</select>
													</div>
												 </div>
												 
												 <br />
													
													
												<!-- phase one value percentages -->
												<div class="row">
													<div id="phaseonecontainer" style="display: none">
												    	<div class="col-md-3">
												          <img src="images/phaseone.png" width="125" height="90" style="margin-left:25px" />
												        </div>
													</div>
												
													<!-- phase two value percentages -->
										     		<div id="phasetwocontainer" style="display: none">
											        	<div class="col-md-3">
												        	<img src="images/phasetwo.png" width="125" height="90" style="margin-left:25px" />
												        </div>
												    </div>
												
													<!-- phase three value percentages -->
													<div id="phasethreecontainer" style="display: none">
														<div class="col-md-3">
															<img src="images/phasethree.png" width="125" height="90" style="margin-left:25px" />
														</div>
													</div>
												</div><!-- end of row -->  
												
												
												<!-- phase one value percentages -->
												<div class="row">
													<div id="phaseone" style="display: none">
												    	<div class="col-md-3">
												            <h4 style="margin: 5px 0px 5px 15px;" id="phaseonepercent" class="card-title" align="center"></h4>
												            <p class="card-text" align="center">In Phase 1</p>
														</div>
													</div>
												
													<!-- phase two value percentages -->
										     		<div id="phasetwo" style="display: none">
											        	<div class="col-md-3">
												            <h4 style="margin: 5px 0px 5px 15px;" id="phasetwopercent" class="card-title" align="center"></h4>
												            <p class="card-text" align="center">In Phase 2</p>
												    	</div>
												    </div>
												
													<!-- phase three value percentages -->
													<div id="phasethree" style="display: none">
														<div class="col-md-3">
												            <h4 style="margin: 5px 0px 5px 15px;" id="phasethreepercent" class="card-title" align="center"></h4>
												            <p class="card-text" align="center">In Phase 3</p>
												    	</div>
													</div>
												</div><!-- end of row -->
												        
												        
												     <hr />
												     
												        <div class="row">
													        <div class="form-group col-md-6">
														        <label class="control-label" style="margin:5px; font-size:20px; padding-top:0px; float:left;">Total RUBRICS:</label>
														        <input class="col-md-3" type="text" readonly="readonly" style="width: 75px; border:0px; font-size:20px; margin-top:2px;" id="nbrTeachers"/>									  
														    </div>
														</div>
														
														<div class="row">
														   	<div class="form-group col-md-6">
														        <label class="control-label" style="margin:5px; padding-top:0px; float:left;">Working At Phase 1:</label>
														        <input type="text" readonly="readonly" style="width: 50px; border: 0px; font-size:medium; margin-top:2px;" id="phase1Teachers"/>
														    </div>
														</div>
														
														<div class="row">
														    <div class="form-group col-md-6">
														        <label class="control-label" style="margin:5px; padding-top:0px; float:left;">Working at Phase 2:</label>
														        <input type="text" readonly="readonly" style="width: 50px; border: 0px; font-size:medium; margin-top:2px;" id="phase2Teachers"/>
														    </div>
														</div>
														    
														<div class="row">
														    <div class="form-group col-md-6">
														        <label class="control-label" style="margin:5px; padding-top:0px; float:left;">Working at Phase 3:</label>
																<input type="text" readonly="readonly" style="width: 50px; border: 0px; font-size:medium; margin-top:2px;" id="phase3Teachers"/>
														    </div>
														</div>
											</div>
										</div>
									</div>
									
						

									<div class="row">
										<div class="col-md-11">
											<div class="panel panel-default">
												<div class="panel-heading">
													<h3 class="panel-title">
														<i class="fa fa-chart-pie"></i><b> School Rubric Statistics - Select Date Range to View Graph</b>
													</h3>
												</div>
												<div class="form-group col-md-4" id="schoolIdGraph" style="margin-top: 25px;">
													<label><b>School</b></label>
	                                                	<select id="schoolIdGraph" class="form-control" style="font-size: 12px;"  th:field="*{schoolList}">
		                                                	<option value="">Please Select</option>
		                                                	<option th:each="school: ${schoolList}" 
		                                                			th:value="${school.id}" 
		                                                			th:text="${school.name}">
		                                                	</option>
														</select>
												</div>
											
												<div class="col-md-3">
													<div class="form-group" style="margin-top: 25px;">
														<label>Start Date</label>
														<input th:required="true" type="text" id="startDate" name="startDate" class="form-control" placeholder="Start Date" />
													</div>
												</div>
											
												<div class="col-md-3">
													<div class="form-group" style="margin-top: 25px;">
														<label>End Date</label>
														<input th:required="true" type="text" id="endDate" name="endDtate" class="form-control" placeholder="End Date" />
													</div>
												</div>
											</div>
										</div>
									</div>
									
									<div class="row">
										<div class="col-md-11">
											<div class="col-md-3"></div>
											<div class="col-md-3">
												<button name="button" type="button" class="btn btn-primary btn-md btn-block">Display Report</button>
											</div>
											<div class="col-md-3"></div>
										</div>
									</div>
									
									<hr />
									
									<div class="row">
										<div class="col-md-11">
											<div class="col-md-3"></div>
											<div class="col-md-3" id='loadingmessage' align="center" style="display:none">
												<i class="dot-spinner-48x48"></i>
											</div>
											<div class="col-md-3"></div>
										</div>
									</div>
									
									<div class="row">
										<div class="col-md-11">
											<div class="panel panel-default">
												<div class="panel-body col-md-11" id="rubricGraph" style="display: none;">
													<div id="container" style="width: 100%; height: 500px;"></div>
												</div>
											</div>
										</div>
									</div>
										
								</div>
							</div>
							<div th:replace="fragments/footer :: footer"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>