<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>DSD-PD Coaching Application | Dashboard</title>

<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />

<link rel="icon" type="image/png" href="img/favicon.ico" />

<!--   JS Files   -->
<script src="js/lib/jquery.js"></script>
<script src="js/lib/jquery-ui.min.js"></script>
<script src="js/lib/timepicker.js"></script>
<script src="js/lib/bootstrap.min.js"></script>
<script src="js/lib/bootstrap-select.js"></script>
<script src="js/lib/bootstrap-multiselect.js"></script>
<script src="js/lib/jquery.validate.min.js"></script>
<script src="js/lib/light-bootstrap-dashboard.js"></script>
<script src="js/lib/gstatic.js"></script>
<script src="js/dashboard.js"></script>

<!--   CSS Files   -->
<link href="css/lib/jquery-ui.css" rel="stylesheet" />
<link href="css/lib/bootstrap.min.css" rel="stylesheet" />
<link href="css/lib/light-bootstrap-dashboard.css" rel="stylesheet" />
<link href="css/lib/timepicker.css" rel="stylesheet" />
<link href="css/lib/bootstrap-multiselect.css" rel="stylesheet" />
<link href="css/misc.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet" />

<!--   Fonts and icons     -->
<link href="css/lib/pe-icon-7-stroke.css" rel="stylesheet" />
<link href='//fonts.googleapis.com/css?family=Roboto:400,700,300'
	rel='stylesheet' type='text/css' />
</head>
<body>
	<div class="wrapper">
		<div th:replace="fragments/nav :: nav"></div>

		<div class="main-panel">
			<div th:replace="fragments/header :: header"></div>

			<div class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-10">
							<div class="card">
								<div class="header">
									<h2 class="title">Dashboard</h2>
								</div>
								<div class="content">

									<div class="row">
										<div class="col-md-11">
											<div class="panel panel-default">
												<div class="panel-heading">
													<div id="school"></div>
													<h3 class="panel-title">
														<i class="fa fa-chart-pie"></i><b> Teacher Statistics</b>
													</h3>
												</div>
												
												<br />

												<div class="col-md-3">
													<div class="form-group" id="schoolIdGroup">
														<label><b>School</b></label>
		                                                	<select id="schoolId" class="form-control" th:field="*{schoolList}">
			                                                	<option value="">Please Select</option>
			                                                	<option th:each="school: ${schoolList}" 
			                                                			th:value="${school.id}" 
			                                                			th:text="${school.name}">
			                                                	</option>
														</select>
													</div>
												</div>

												<div class="row">
													<div class="content" align="center">
														<div id="pieContainer"
															style="float: left; padding-left: 15px; width: 80%; height: 350px;"></div>
													</div>
												</div>
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col-md-11">
											<div class="panel panel-default" id="rubricGraph"
												style="display: none;">
												<div class="panel-heading">
													<div id="icons"></div>
													<h3 class="panel-title">
														<i class="fa fa-bar-chart-o fa-fw"></i><b>School Rubric Values</b>
													</h3>
												</div>
												<div class="panel-body">

													<div id="highchart" style="width: 100%; height: 500px;"></div>

												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div th:replace="fragments/footer :: footer"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>