<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
		<title>DSD-PD Coaching Application | Hoke Rubric Form</title>
		
		<meta charset="utf-8" />	
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		
		<link rel="icon" type="image/png" href="img/favicon.ico"/>
		
		<!--   JS Files   -->
		<script src="js/lib/jquery.js"></script>
		<script src="js/lib/jquery-ui.min.js"></script>
		<script src="js/lib/timepicker.js"></script>
		<script src="js/lib/bootstrap.min.js"></script>
		<script src="js/lib/bootstrap-select.js"></script>
		<script src="js/lib/bootstrap-multiselect.js"></script>
		<script src="js/lib/jquery.validate.min.js"></script>
		<script src="js/lib/light-bootstrap-dashboard.js"></script>
		<script src="js/rubricForm.js"></script>
		<script src="js/hokeRubricForm.js"></script>
		
		<!--   CSS Files   -->
		<link href="css/lib/jquery-ui.css" rel="stylesheet"/>
	    <link href="css/lib/bootstrap.min.css" rel="stylesheet"/>
	    <link href="css/lib/light-bootstrap-dashboard.css" rel="stylesheet"/>
	    <link href="css/lib/timepicker.css" rel="stylesheet"/>
	    <link href="css/lib/bootstrap-multiselect.css" rel="stylesheet"/>
	    <link href="css/misc.css" rel="stylesheet"/>
	    <link href="css/popup.css" rel="stylesheet"/>
	    
	    <!--   Fonts and icons     -->
	    <link href="css/lib/pe-icon-7-stroke.css" rel="stylesheet"/>
    	    <link href='//fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'/>
    	    <link href='//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css' rel='stylesheet' type='text/css'/>
    
    <style>
     		.radio-inline{
     			font-family: arial, Times, serif;
     			font-size: 14px;
     			color: yellow;
     			}
	</style>
    
    </head>
    
     <body>
		<div class="wrapper">
		    <div th:replace="fragments/nav :: nav"></div>
		    
			<div class="main-panel">
			    <div th:replace="fragments/header :: header"></div>

		        <div class="content">
		            <div class="container-fluid">
		                <div class="row">
		                    <div class="col-md-11">
		                        <div class="card">
		                            <div class="header">
		                                <h2 class="title">Hoke Rubric Form</h2>
		                            </div>
		                            <div class="content">
		                                <form id="hokeform" name="hokeform" action="#" th:action="@{/hokeRubricForm}" th:object="${hokeRubricData}" method="post">
		                                    <div class="row">
		                                        <div class="col-md-4">
		                                            <div class="form-group">
		                                                <label>School</label>
		                                                <select id="schoolId" class="form-control" th:field="*{schoolId}">
			                                                	<option value="">Please Select</option>
			                                                	<option th:each="school: ${schoolList}" 
			                                                			th:value="${school.id}" 
			                                                			th:text="${school.name}">
			                                                	</option>
														</select>
		                                            </div>
		                                        </div>                          
		      
		                                        	<div class="col-md-2" style="margin-right:20px;">
													<div class="form-group">
														<label>Teacher</label>
														<select id="teacherId" th:field="*{teacherId}">
															<option value=""> Please Select </option>
															<option th:each="teacher : ${teachers}"
																th:value="${teacher.teacherId}"
																th:utext="${teacher.teacherId" />
														</select>
													</div>
												</div>
												
												<div class="col-md-2">
													<div class="form-group popup" id="levelupreview" style="display: none;">
														<label>LevelUp Review</label>
														<input type="button" id="previewbutton" value="Show Existing LevelUp Items"></input>
														<div class="popuptext" id="myPopup"></div>
													</div>
												</div>
		                                    
		                                    </div>
		
		                                    <div class="row">
		                                        <div class="col-md-3">
		                                            <div class="form-group">
		                                                	<label>Date</label>
		                                               	<input type="text" id="entryDate" class="form-control" placeholder="Date" th:field="*{date}"/>
													</div>
		                                        </div>
		                                        <div class="col-md-2">
				                                    <div class="form-group">
				                                        <label>Time Observed</label>
				                                        <input type="text" id="timeObserved" 
				                                        class="time form-control" placeholder="Time Observed" th:field="*{timeObserved}"/>
				                                    </div>
			                                    </div>
			                                    
			                                    <div class="col-md-5">
												<div class="form-group">
													<label id="emailreport">Email Report</label><br />
													<div class="checkboxes" id="teachercheckboxdiv">
														<input type="checkbox" id="teachercheckbox" style="display: none;" name="teachercheckbox"></input> 
														<label for="teachercheckbox" class="checkbox-inline" id="teacherlabel" name="teacherlabel"
															style="margin-left: 2px; padding-left: 2px; padding-top: 4px; padding-right: 15px;">
														</label>
													</div>
													
												</div>
											</div>
			                                </div>
			                                
			                             <div class="container">
	                                  		<h5 style="font-weight:bold">Data Entered</h5>
											<label class="radio-inline" style="width:250px; font-family:arial; font-weight:normal; font-size:12px; color:#585858">
											<input type="radio" id="observed" name="observed" value="Observed Classroom" />Coach's View of the Classroom</label><br></br>
	                                     	
	                                     	<label class="radio-inline" style="width:250px; font-family:arial; font-weight:normal; font-size:12px; color:#585858">
	                                     	<input type="radio" id="observed" name="observed" value="Teacher Completed" />Teacher's View of the Classroom</label><br></br>
	                                     	
	                                     	<label class="radio-inline" style="width:250px; font-family:arial; font-weight:normal; font-size:12px; color:#585858">
	                                     	<input type="radio" id="observed" name="observed" value="Site Visit" />Visitor's View of the Classroom</label><br></br>
	                                    		<label for="observed" class="error"></label>
                                    		</div>
                            
                                    
                                    <hr></hr>
                                    
                                    <div class="container-fluid">
                                    
                                    <div id="expandable">
								   	<button type="button" class="hokeexpandable heidc">INTEGRATED DIGITAL CONTENT</button>
									   <div class="content hokecontent hokecontainer">
									   
									   <div class="container-fluid">
									   	
									   
										   		<div id="heidchokecolumn" class="heidc">CATEGORY</div>
										   	
												   	<div class="modal fade " data-backdrop="false">
												      <div class="modal-dialog">
												          <div class="modal-content">
												              <div class="modal-header">
												                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
												                  <h4 class="modal-title">GUIDING QUESTIONS</h4>
												              </div>
												              <div class="modal-body">
												                   <h5><b>Students:</b></h5>
												              </div>
														            <p class="modaltext">What are you learning today?</p>
														            <p class="modaltext">What are you completing in this station?</p>
												              <div class="modal-body">
												                   <h5><b>Teachers:</b></h5>
												                    <p class="modaltext">What are your students learning about today?</p>
												              		<p class="modaltext">How will you determine what your students learned today?</p>
												              		<p class="modaltext">What are your students producing to show you what they learned?</p>
												              		<p class="modaltext">What resources are you using in the stations?</p>
												              		<p class="modaltext">How did you decide to use that station?</p>
												              		<p class="modaltext">What data, if any, does the digital resource provide to the teacher and/or student?</p>
												              		<p class="modaltext">How does the digital content provide support for the students?</p>
												              </div>
												              <div class="modal-footer">
												                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
												              </div>
												          </div><!-- /.modal-content -->
												      </div><!-- /.modal-dialog -->
													</div><!-- /.modal -->
												
												
																				   	
										 
    												  
										   			<div id="hokecolumn" class="heidc">NOT YET</div>
										   			<div id="hokecolumn" class="heidc">MODEL</div>
										   		
										   	
												   	<div id="hokecolumn" class="heidc" style="font-size:14px; padding-top:5px;"><b>Content Alignment</b></div>
												
												   	<label class="radio-inline" style="width:250px; font-family:arial; font-weight:normal; font-size:12px; color:#585858">
			  										<input type="radio" id='idccontentalignment1' name="idccontentalignment1" value="Not Yet" />Digital Content is not integrated to support student-centered learning</label>
			  									
			  										<label class="radio-inline" style="width:250px; font-family:arial; font-weight:normal; font-size:12px; color:#585858">
			  										<input type="radio" id='idccontentalignment1' name="idccontentalignment1" value="Model" />Teacher integrates aligned digital content to support student-centered learning</label>
			  									
			  									<!-- <label for="idccontentalignment1" class="error"></label> -->
			  								
	  										<div id="spacercolumn"></div>
	  										
			  									
												   	<label class="radio-inline" style="width:250px; font-family:arial; font-weight:normal; font-size:12px; color:#585858">
			  										<input type="radio" id='idccontentalignment2' name="idccontentalignment2" value="Not Yet" />Digital Content is not aligned to the standards and/or learning targets</label>
			  									
			  									
			  										<label class="radio-inline" style="width:250px; font-family:arial; font-weight:normal; font-size:12px; color:#585858">
			  										<input type="radio" id='idccontentalignment2' name="idccontentalignment2" value="Model" />Digital content consistently aligns to the standard and/or learning targets</label>
												
											
											
												
										   </div> <!--  end of container div -->
										   	
										    	
										   
	  									<br />
										</div>
										
									<button type="button" class="hokeexpandable heti">TARGETED INSTRUCTION</button>
									    <div class="content hokecontent hokecontainer">
									   
										   	<div id="hokecolumn" class="heti">CATEGORY</div>
										   	<div id="hokecolumn" class="heti">NOT YET</div>
										   	<div id="hokecolumn" class="heti">MODEL</div>
										   	
										   	<br />
										   	
										   	<div id="hokecolumn" class="heti" style="font-size:14px; padding-top:5px;"><b>Standard Alignment</b></div>
										   	<label class="radio-inline" style="width:250px; font-family:arial; font-weight:normal; font-size:12px; color:#585858">
	  										<input type="radio" id='tistandardalignment1' name="tistandardalignment1" value="Not Yet" />Instruction is not aligned to the standard of learning targets</label>
	  										
	  										<label class="radio-inline" style="width:250px; font-family:arial; font-weight:normal; font-size:12px; color:#585858">
	  										<input type="radio" id='tistandardalignment1' name="tistandardalignment1" value="Model" />Teacher is using the standard and learning targets to design instruction</label>
	  										
	  										<div id="spacercolumn"></div>
	  										
										   	<label class="radio-inline" style="width:250px; font-family:arial; font-weight:normal; font-size:12px; color:#585858">
	  										<input type="radio" id='tistandardalignment2' name="tistandardalignment2" value="Not Yet" />Products are not aligned to the learning target</label>
	  										
	  										<label class="radio-inline" style="width:250px; font-family:arial; font-weight:normal; font-size:12px; color:#585858">
	  										<input type="radio" id='tistandardalignment2' name="tistandardalignment2" value="Model" />All products are aligned to the learning target</label>
										   	
										   	<hr />
	  										
	  										<div id="hokecolumn" class="heti" style="font-size:14px; padding-top:5px;"><b>Teacher-Led Small Groups</b></div>
										   	<label class="radio-inline" style="width:250px; font-family:arial; font-weight:normal; font-size:12px; color:#585858">
	  										<input type="radio" id='tismallgroup1' name="tismallgroup1" value="Not Yet" />Instruction in the teacher-led groups do not address a standard</label>
	  										
	  										<label class="radio-inline" style="width:250px; font-family:arial; font-weight:normal; font-size:12px; color:#585858">
	  										<input type="radio" id='tismallgroup1' name="tismallgroup1" value="Model" />Instruction in the teacher-led groups address learning targets that align with the standard</label>
										   	
										   	<div id="spacercolumn"></div>
										   	<label class="radio-inline" style="width:250px; font-family:arial; font-weight:normal; font-size:12px; color:#585858">
	  										<input type="radio" id='tismallgroup2' name="tismallgroup2" value="Not Yet" />Teacher rarely uses strategies that differentiate for individual learning strengths and needs in the groups</label>
	  										
	  										<label class="radio-inline" style="width:250px; font-family:arial; font-weight:normal; font-size:12px; color:#585858">
	  										<input type="radio" id='tismallgroup2' name="tismallgroup2" value="Model" />Teacher frequently uses strategies that differentiate for individual learning strengths and needs in the groups</label>
										   	
										   	<div id="spacercolumn"></div>
										   	<label class="radio-inline" style="width:250px; font-family:arial; font-weight:normal; font-size:12px; color:#585858">
	  										<input type="radio" id='tismallgroup3' name="tismallgroup3" value="Not Yet" />Instruction in the teacher-led groups do not support the greatest area of need</label>
	  										
	  										<label class="radio-inline" style="width:250px; font-family:arial; font-weight:normal; font-size:12px; color:#585858">
	  										<input type="radio" id='tismallgroup3' name="tismallgroup3" value="Model" />Instruction in the teacher-led groups is provided in the area in which the students need the most support</label>
										   	
										   	<hr />
										   	
										   	<div id="hokecolumn" class="heti" style="font-size:14px; padding-top:5px;"><b>Intentional Grouping</b></div>
										   	<label class="radio-inline" style="width:250px; font-family:arial; font-weight:normal; font-size:12px; color:#585858">
	  										<input type="radio" id='tiintentionalgrouping1' name="tiintentionalgrouping1" value="Not Yet" />Students are not in groups or groups are not formed based on the standard target</label>
	  										
	  										<label class="radio-inline" style="width:250px; font-family:arial; font-weight:normal; font-size:12px; color:#585858">
	  										<input type="radio" id='tiintentionalgrouping1' name="tiintentionalgrouping1" value="Model" />Student groups reflect the specific learning target</label>
										   	
										   	<div id="spacercolumn"></div>
										   	<label class="radio-inline" style="width:250px; font-family:arial; font-weight:normal; font-size:12px; color:#585858">
	  										<input type="radio" id='tiintentionalgrouping2' name="tiintentionalgrouping2" value="Not Yet" />Data is not being used to group students</label>
	  										
	  										<label class="radio-inline" style="width:250px; font-family:arial; font-weight:normal; font-size:12px; color:#585858">
	  										<input type="radio" id='tiintentionalgrouping2' name="tiintentionalgrouping2" value="Model" />Student groups are based on data</label>
										   	
										   	
	  									<br />
										</div>
										
									<button type="button" class="hokeexpandable hee">ENGAGEMENT</button>
									   <div class="content hokecontent hokecontainer">
									   
										   	<div id="hokecolumn" class="hee">CATEGORY</div>
										   	<div id="hokecolumn" class="hee">NOT YET</div>
										   	<div id="hokecolumn" class="hee">MODEL</div>
										   	
										   	<br />
										   	
										   	<div id="hokecolumn" class="hee" style="font-size:14px; padding-top:5px;"><b>Collaboration</b></div>
										   	<label class="radio-inline" style="width:250px; font-family:arial; font-weight:normal; font-size:12px; color:#585858">
	  										<input type="radio" id='engcollaboration' name="engcollaboration" value="Not Yet" />Teacher has not created group activities that require interaction</label>
	  										
	  										<label class="radio-inline" style="width:250px; font-family:arial; font-weight:normal; font-size:12px; color:#585858">
	  										<input type="radio" id='engcollaboration' name="engcollaboration" value="Model" />Teacher creates group activities that requires student interaction with feedback</label>
	  										
	  										<hr />
	  										
	  										<div id="hokecolumn" class="hee" style="font-size:14px; padding-top:5px;"><b>Choice</b></div>
										   	<label class="radio-inline" style="width:250px; font-family:arial; font-weight:normal; font-size:12px; color:#585858">
	  										<input type="radio" id='engchoice' name="engchoice" value="Not Yet" />Teacher always determines the time, place, pace, and path</label>
	  										
	  										<label class="radio-inline" style="width:250px; font-family:arial; font-weight:normal; font-size:12px; color:#585858">
	  										<input type="radio" id='engchoice' name="engchoice" value="Model" />Teacher provides opportunities for students to choose one of time, place, pace, or path</label>
										   	
										   	<hr />
	  										
	  										<div id="hokecolumn" class="hee" style="font-size:14px; padding-top:5px;"><b>Creation</b></div>
										   	<label class="radio-inline" style="width:250px; font-family:arial; font-weight:normal; font-size:12px; color:#585858">
	  										<input type="radio" id='engcreation' name="engcreation" value="Not Yet" />Students are consuming or responding to information consumed</label>
	  										
	  										<label class="radio-inline" style="width:250px; font-family:arial; font-weight:normal; font-size:12px; color:#585858">
	  										<input type="radio" id='engcreation' name="engcreation" value="Model" />Students or groups are creating to show evidence of learning</label>
	  										
	  										<hr />
	  										
	  										<div id="hokecolumn" class="hee" style="font-size:14px; padding-top:5px;"><b>Critical Thinking</b></div>
										   	<label class="radio-inline" style="width:250px; font-family:arial; font-weight:normal; font-size:12px; color:#585858">
	  										<input type="radio" id='engcriticalthinking' name="engcriticalthinking" value="Not Yet" />Highest order of thinking required for class activities does not match the level required of the standard</label>
	  										
	  										<label class="radio-inline" style="width:250px; font-family:arial; font-weight:normal; font-size:12px; color:#585858">
	  										<input type="radio" id='engcriticalthinking' name="engcriticalthinking" value="Model" />Highest order of thinking required for class activities matches or exceeds the level required of the standard</label>
	  										
	  										<hr />
	  										
	  										<div id="hokecolumn" class="hee" style="font-size:14px; padding-top:5px;"><b>Active Participation</b></div>
										   	<label class="radio-inline" style="width:250px; font-family:arial; font-weight:normal; font-size:12px; color:#585858">
	  										<input type="radio" id='engactiveparticipation' name="engactiveparticipation" value="Not Yet" />The majority of students are disengaged from the classroom activities</label>
	  										
	  										<label class="radio-inline" style="width:250px; font-family:arial; font-weight:normal; font-size:12px; color:#585858">
	  										<input type="radio" id='engactiveparticipation' name="engactiveparticipation" value="Model" />The majority of students are attentive, find the activity meaningful, and persist through difficulty with the goal of completing it correctly</label>
	  										
	  									<br />
										</div>
										
									<button type="button" class="hokeexpandable heenv">ENVIRONMENT</button>
									   <div class="content hokecontent hokecontainer">
									   
										   	<div id="hokecolumn" class="heenv">CATEGORY</div>
										   	<div id="hokecolumn" class="heenv">NOT YET</div>
										   	<div id="hokecolumn" class="heenv">MODEL</div>
										   	
										   	<br />
										   	
										   	<div id="hokecolumn" class="heenv" style="font-size:14px; padding-top:5px;"><b>Classroom Management</b></div>
										   	<label class="radio-inline" style="width:250px; font-family:arial; font-weight:normal; font-size:12px; color:#585858">
	  										<input type="radio" id='envclassroommanagement' name="envclassroommanagement" value="Not Yet" />Multiple students are not engaged in station tasks and exhibiting disruptive behaviors that interrupt the class</label>
	  										
	  										<label class="radio-inline" style="width:250px; font-family:arial; font-weight:normal; font-size:12px; color:#585858">
	  										<input type="radio" id='envclassroommanagement' name="envclassroommanagement" value="Model" />Teacher maintains a positive classroom environment that engages all learners and addresses disruptive behaviors</label>
	  										
	  										<hr />
	  										
	  										<div id="hokecolumn" class="heenv" style="font-size:14px; padding-top:5px;"><b>Physical Environment</b></div>
										   	<label class="radio-inline" style="width:250px; font-family:arial; font-weight:normal; font-size:12px; color:#585858">
	  										<input type="radio" id='envphysicalenvironment' name="envphysicalenvironment" value="Not Yet" />Desks and tables are fixed in rows without consideration for student interactions and collaboration</label>
	  										
	  										<label class="radio-inline" style="width:250px; font-family:arial; font-weight:normal; font-size:12px; color:#585858">
	  										<input type="radio" id='envphysicalenvironment' name="envphysicalenvironment" value="Model" />The teacher has designed several spaces for student interaction and collaboration</label>
										   	
										   	<hr />
	  										
	  										<div id="hokecolumn" class="heenv" style="font-size:14px; padding-top:5px;"><b>Time Management</b></div>
										   	<label class="radio-inline" style="width:250px; font-family:arial; font-weight:normal; font-size:12px; color:#585858">
	  										<input type="radio" id='envtimemanagement1' name="envtimemanagement1" value="Not Yet" />No time management exists or is inadequate</label>
	  										
	  										<label class="radio-inline" style="width:250px; font-family:arial; font-weight:normal; font-size:12px; color:#585858">
	  										<input type="radio" id='envtimemanagement1' name="envtimemanagement1" value="Model" />Teacher implements a system of time management that encourages students to complete tasks within the time allotted</label>
	  										
	  										<div id="spacercolumn"></div>
										   	<label class="radio-inline" style="width:250px; font-family:arial; font-weight:normal; font-size:12px; color:#585858">
	  										<input type="radio" id='envtimemanagement2' name="envtimemanagement2" value="Not Yet" />Teacher provides only verbal instructions or instructions that are unclear</label>
	  										
	  										<label class="radio-inline" style="width:250px; font-family:arial; font-weight:normal; font-size:12px; color:#585858">
	  										<input type="radio" id='envtimemanagement2' name="envtimemanagement2" value="Model" />Teacher provides clear instructions for students that allows them to work independently</label>
										   	
										   	<hr />
	  										
	  										<div id="hokecolumn" class="heenv" style="font-size:14px; padding-top:5px;"><b>Digital Citizenship</b></div>
										   	<label class="radio-inline" style="width:250px; font-family:arial; font-weight:normal; font-size:12px; color:#585858">
	  										<input type="radio" id='envdigitalcitizenship' name="envdigitalcitizenship" value="Not Yet" />Teacher does not model respect and responsibility when using technology and students have not been taught the basics of good citizenship</label>
	  										
	  										<label class="radio-inline" style="width:250px; font-family:arial; font-weight:normal; font-size:12px; color:#585858">
	  										<input type="radio" id='envdigitalcitizenship' name="envdigitalcitizenship" value="Model" />Teacher models respect and responsibility when using technology and intentionally teaches digital citizenship skills to students</label>
	  										
	  									<br />
										</div>
										
									<button type="button" class="hokeexpandable hesr">STUDENT REFLECTION</button>
									   <div class="content hokecontent hokecontainer">
									   
										   	<div id="hokecolumn" class="hesr">CATEGORY</div>
										   	<div id="hokecolumn" class="hesr">NOT YET</div>
										   	<div id="hokecolumn" class="hesr">MODEL</div>
										   	
										   	<br />
										   	
										   	<div id="hokecolumn" class="hesr" style="font-size:14px; padding-top:5px;"><b>Student Can Articulate Learning Goal</b></div>
										   	<label class="radio-inline" style="width:250px; font-family:arial; font-weight:normal; font-size:12px; color:#585858">
	  										<input type="radio" id='srarticulate' name="srarticulate" value="Not Yet" />Students are unable to articulate their learning goal</label>
	  										
	  										<label class="radio-inline" style="width:250px; font-family:arial; font-weight:normal; font-size:12px; color:#585858">
	  										<input type="radio" id='srarticulate' name="srarticulate" value="Model" />Students can articulate their learning goal</label>
	  										
										   	<hr />
	  										
	  										<div id="hokecolumn" class="hesr" style="font-size:14px; padding-top:5px;"><b>Teacher Feedback</b></div>
										   	<label class="radio-inline" style="width:250px; font-family:arial; font-weight:normal; font-size:12px; color:#585858">
	  										<input type="radio" id='srteacherfeedback' name="srteacherfeedback" value="Not Yet" />Teacher provides little or no feedback to students</label>
	  										
	  										<label class="radio-inline" style="width:250px; font-family:arial; font-weight:normal; font-size:12px; color:#585858">
	  										<input type="radio" id='srteacherfeedback' name="srteacherfeedback" value="Model" />Teacher provides constructive feedback that allows student reflection and revision</label>
										   	
	  									<br />
										</div>
										
										<button type="button" class="hokeexpandable heddd">DATA DRIVEN DECISIONS</button>
									   <div class="content hokecontent hokecontainer">
									   
										   	<div id="hokecolumn" class="heddd">CATEGORY</div>
										   	<div id="hokecolumn" class="heddd">NOT YET</div>
										   	<div id="hokecolumn" class="heddd">MODEL</div>
										   	
										   	<br />
										   	
										   	<div id="hokecolumn" class="heddd" style="font-size:14px; padding-top:5px;"><b>Use Of Data</b></div>
										   	<label class="radio-inline" style="width:250px; font-family:arial; font-weight:normal; font-size:12px; color:#585858">
	  										<input type="radio" id='ddduseofdata' name="ddduseofdata" value="Not Yet" />Data is not used to drive instruction</label>
	  										
	  										<label class="radio-inline" style="width:250px; font-family:arial; font-weight:normal; font-size:12px; color:#585858">
	  										<input type="radio" id='ddduseofdata' name="ddduseofdata" value="Model" />Teacher uses multiple forms of qualitative and quantitative data to drive instruction</label>
	  										
	  					  
	  									<br />
										</div>
										
										
									</div>
                                    
	  								<br />
	  								<hr></hr>
	  								
	  								<div class="row">
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <label>Rubric Notes</label>
                                                <textarea rows="5" cols="50" class="form-control" placeholder="Notes from Rubric" name="rubricNotes" id="rubricNotes" wrap="hard" maxlength="500"></textarea><br />
											</div>
                                        </div>
                                    </div>
                                    
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <label>Questions</label>
                                                <textarea rows="5" cols="50" class="form-control" placeholder="Questions" name="questions" id="questions" wrap="hard" maxlength="500"></textarea><br />
											</div>
                                        </div>
                                    </div>
                                    
                                    <div class="row">	
										<div class="col-md-8">
											<div class="form-group">
												<label>Next Steps</label>
								      			<div class="input-group control-group after-add-more">
								      				<div class="col-md-10">
								      					<div class="input_wrap">
								      						<div>
									      						<input size="75" type="text" name="levelup[]" id="levelup[]" th:field="*{levelupList[0].levelup}" placeholder="Next Step Item"></input>
											   				</div>
											   			</div>
											   		</div>
											  		<div class="input-group-btn" style="float:right; align:middle;"> 
														<button class="btn-xs add-more" id="add-more" type="button">Add Tasks</button> 
											  		</div>
												</div>
											</div>
										</div>
									</div>
											
			
	  								</div>
		                                    <button type="submit" class="btn btn-info btn-fill pull-right" name="Submit" value="Submit">Submit</button>
		                                    <div class="clearfix"></div>
		                                </form>
		                            </div>
		                        </div>
									
								<div th:replace="fragments/footer :: footer"></div>
		                    </div>
		                </div>
		            </div>
		        </div>
			</div>
		</div>
	</body>
</html>