<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>DSD-PD Coaching Application | Hoke Rubric Report</title>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />

<link rel="icon" type="image/png" href="img/favicon.ico" />

<!--   JS Files   -->
<script src="js/lib/jquery.js"></script>
<script src="js/lib/jquery-ui.min.js"></script>
<script src="js/lib/bootstrap.min.js"></script>
<script src="js/lib/light-bootstrap-dashboard.js"></script>
<script src="js/gstatic.js"></script>
<script src="js/hokeRubricReport.js"></script>

<!--   CSS Files   -->
<link href="css/lib/jquery-ui.css" rel="stylesheet" />
<link href="css/lib/bootstrap.min.css" rel="stylesheet" />
<link href="css/lib/light-bootstrap-dashboard.css" rel="stylesheet" />
<link href="css/misc.css" rel="stylesheet" />

<!--   Fonts and icons     -->
<link href="css/lib/pe-icon-7-stroke.css" rel="stylesheet" />
<link href='//fonts.googleapis.com/css?family=Roboto:400,700,300'
	rel='stylesheet' type='text/css' />
<link
	href='//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'
	rel='stylesheet' type='text/css' />

<style>
	.blue {
		color: #3A55A5;
	}
	
	.red {
		color: #CF5300;
	}
	
	.yellow {
		color: #cccc00;
	}
	
	.green {
		color: #A2AB58;
	}
	
	.black {
		color: #000000;
	}

	.levelupcheckboxes input{
    		margin: 0px 0px 0px 0px;
   	}

	.levelupcheckboxes label{
		font-weight: normal;
		font-size: 14px;
  		margin: 0px 0px 5px 5px;
   	}
   	
   	#levelupheader{
		font-weight: bold;
		font-size: 16px;
		color: #666;
  		margin: 0px 0px 0px 0px;
  		text-transform: uppercase;
  		}
  		
  	#wrapper {
  		display: flex;
	}
	
	#left {
	  	flex: 0 0 35%;
	}
	
	#chart_div{
	  	flex: 1;
	}
</style>
</head>
<body>
	<div class="wrapper">
		<div th:replace="fragments/nav :: nav"></div>

		<div class="main-panel">
			<div th:replace="fragments/header :: header"></div>

			<div class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-10">
							<div class="card">
								<div class="header">
									<h2 class="title">Hoke Teacher Rubric Report</h2>
								</div>
								<div class="content">

									<form id="frm" name="frm" method="post" action="#" th:action="@{/hokeRubricReportUpdate}" th:object="${levelupdata}">
										<div class="row">
											<div class="col-md-4">
												<div class="form-group">
													<label>School</label> 
													<select name="schoolName" id="schoolName" class="form-control">
														<option value="0">Please Select</option>
														<option th:each="school: ${schoolList}"
															th:value="${school.id}" th:text="${school.name}"></option>
													</select>
												</div>
											</div>

											<div class="col-md-4">
												<div class="form-group">
													<label>Teacher</label>
													<select name="teacherName" id="teacherName" class="form-control">
														<option value="0">Please Select</option>
													</select>
												</div>
											</div>
										</div>

										<div class="row">
											<div class="col-md-3">
												<div class="form-group">
													<label>Date</label> 
													<select name="date" id="date" class="form-control">
														<option value="0">Please Select</option>
													</select>
												</div>
											</div>
											<div class="col-md-2 col-md-offset-1">
												<div class="form-group">
													<label>Time</label>
													<h5>
														<b> </b><span class="timeTaken"></span>
													</h5>
												</div>
											</div>

											<div class="col-md-5">
												<div class="form-group button" style="display: none">
													<label id="emailreport">Email Report</label><br />

													<div class="checkboxes">
														<input type="checkbox" id="teachercheckbox"
															name="teachercheckbox" value="teachercheckbox"></input> <label
															for="teachercheckbox" class="checkbox-inline"
															id="teacherlabel"
															style="margin-left: 2px; padding-left: 2px; padding-top: 4px; padding-right: 15px;"></label>
														
														<br /> <input type="checkbox" id="admincheckbox"
															name="admincheckbox" value="admincheckbox"></input> <label
															for="admincheckbox" class="checkbox-inline"
															id="adminlabel"
															style="margin-left: 2px; padding-left: 2px; padding-top: 4px;"></label>
													</div>
													
													<br />
													
													<button type="emailButton" name="emailButton" class="btn btn-info"
														id="emailbutton">Email Selected Person(s)</button>
												</div>
											</div>

										</div>

										<div class="container" style="display: none"></div>

										<div id="wrapper">
											<div id="left" class="floating-box">
												<h5>
													<b>Recorded By: </b><span class="user" name="user" id="user"></span>
												</h5>
												<h5>
													<b>Observed: </b><span class="observed" style="color: red"></span>
												</h5>
											</div>
											
											<div class="row">
												<div class="col-md-9">
													<div class="form-group">
														<div class="nodatatodisplay" id="nodatatodisplay" style="display: none;">
															<h3 style="text-align:center;">NO RUBRIC Data To Display!</h3>
														</div>
													</div>
												</div>
											</div>
										</div>
										
										
										<hr align="left" width="100%"></hr>
										

										<br /> <br />

										
										
								<div class="container-fluid col-md-10">
								
                                    <div id="expandable">
								   	<button type="button" class="hokeexpandable heidc">INTEGRATED DIGITAL CONTENT</button>
									   <div class="content hokecontent hokecontainer" style="padding: 5px 5px 5px 5px">
									   		<div class="container-fluid">
									   			<div id="container">
											   			<div id="content">
											  				<div id="innercontent">
											   					<div id="hokecolumn" class="heidc">NOT YET</div>
											   					<label class="radio-inline" style="margin-left: 0px; font-family:arial; font-weight:normal; font-size:12px; color:#585858">
				  												<input type="radio" id='idccontentalignment1NY' name="idccontentalignmentNY" value="Not Yet" />Digital Content is not integrated to support student-centered learning</label>
				  									
						  										<label class="radio-inline" style="margin-left: 0px; font-family:arial; font-weight:normal; font-size:12px; color:#585858">
						  										<input type="radio" id='idccontentalignment2NY' name="idccontentalignment2NY" value="Not Yet" />Digital Content is not aligned to the standards and/or learning targets</label>
						  									</div>
														</div>
										   			
										   				<div id="content">
											  				<div id="innercontent">
											  					<div id="hokecolumn" class="heidc">MODEL</div>
										   							<label class="radio-inline" style="margin-left: 0px; font-family:arial; font-weight:normal; font-size:12px; color:#585858">
						  											<input type="radio" id='idccontentalignment1M' name="idccontentalignmentM" value="Model" />Teacher integrates aligned digital content to support student-centered learning</label>
						  										
						  											<label class="radio-inline" style="margin-left: 0px; font-family:arial; font-weight:normal; font-size:12px; color:#585858">
						  											<input type="radio" id='idccontentalignment2M' name="idccontentalignment2M" value="Model" />Digital content consistently aligns to the standard and/or learning targets</label>
																</div>
															</div>
														</div>
										   	
			  										<!-- <label for="idccontentalignment1" class="error"></label> -->
										    </div> <!--  end of container-fluid div --> <!--  end of container fluid div -->
	  										<br />
	  										<div class="row">
	                                 			<div class="col-md-8">
	                                     			<div class="form-group">
	                                         		<label>Integrated Digital Content Notes</label>
	                                             	<textarea rows="3" cols="50" class="form-control" placeholder="Notes for Integrated Digital Content" name="idcnotes" id="idcnotes" wrap="hard" maxlength="250"></textarea><br />
													</div>
	                                      		</div>
                                    			</div>
										</div> <!-- end of div class="content hokecontent hokecontainer" -->
									</div> <!-- end of the div expandable -->
									
									<div id="expandable">
								   	<button type="button" class="hokeexpandable heti">TARGETED INSTRUCTION</button>
									    <div class="content hokecontent hokecontainer" style="padding: 5px 5px 5px 5px">
									   		<div class="container-fluid">
										   		<div id="container" style="display: flex;">
											   			<div id="content">
											  				<div id="innercontent">
											  					<div id="hokecolumn" class="heti">NOT YET</div>
											  					<label class="radio-inline" style="margin-left: 0px; font-family:arial; font-weight:normal; font-size:12px; color:#585858">
							  									<input type="radio" id='tistandardalignment1NY' name="tistandardalignment1NY" value="Not Yet" />Instruction is not aligned to the standard of learning targets</label>
							  										
							  									<label class="radio-inline" style="margin-left: 0px; font-family:arial; font-weight:normal; font-size:12px; color:#585858">
	  															<input type="radio" id='tistandardalignment2NY' name="tistandardalignment2NY" value="Not Yet" />Products are not aligned to the learning target</label>
	  														
	  															<label class="radio-inline" style="margin-left: 0px; font-family:arial; font-weight:normal; font-size:12px; color:#585858">
	  															<input type="radio" id='tismallgroup1NY' name="tismallgroup1NY" value="Not Yet" />Instruction in the teacher-led groups do not address a standard</label>
	  										
	  															<label class="radio-inline" style="margin-left: 0px; font-family:arial; font-weight:normal; font-size:12px; color:#585858">
	  															<input type="radio" id='tismallgroup2NY' name="tismallgroup2NY" value="Not Yet" />Teacher rarely uses strategies that differentiate for individual learning strengths and needs in the groups</label>
	  														
	  															<label class="radio-inline" style="margin-left: 0px; font-family:arial; font-weight:normal; font-size:12px; color:#585858">
	  															<input type="radio" id='tismallgroup3NY' name="tismallgroup3NY" value="Not Yet" />Instruction in the teacher-led groups do not support the greatest area of need</label>
	  										
	  															<label class="radio-inline" style="margin-left: 0px; font-family:arial; font-weight:normal; font-size:12px; color:#585858">
	  															<input type="radio" id='tiintentionalgrouping1NY' name="tiintentionalgrouping1NY" value="Not Yet" />Students are not in groups or groups are not formed based on the standard target</label>
	  														
	  															<label class="radio-inline" style="margin-left: 0px; font-family:arial; font-weight:normal; font-size:12px; color:#585858">
	  															<input type="radio" id='tiintentionalgrouping2NY' name="tiintentionalgrouping2NY" value="Not Yet" />Data is not being used to group students</label>
							  								</div>
	  													</div>
	  														
  														<div id="content">
										  					<div id="innercontent">
  																<div id="hokecolumn" class="heti">MODEL</div>
																<label class="radio-inline" style="margin-left: 0px; font-family:arial; font-weight:normal; font-size:12px; color:#585858">
						  										<input type="radio" id='tistandardalignment1M' name="tistandardalignment1M" value="Model" />Teacher is using the standard and learning targets to design instruction</label>
  														
							  									<label class="radio-inline" style="margin-left: 0px; font-family:arial; font-weight:normal; font-size:12px; color:#585858">
							  									<input type="radio" id='tistandardalignment2M' name="tistandardalignment2M" value="Model" />All products are aligned to the learning target</label>
																   
							  									<label class="radio-inline" style="margin-left: 0px; font-family:arial; font-weight:normal; font-size:12px; color:#585858">
							  									<input type="radio" id='tismallgroup1M' name="tismallgroup1M" value="Model" />Instruction in the teacher-led groups address learning targets that align with the standard</label>
																   	
							  									<label class="radio-inline" style="margin-left: 0px; font-family:arial; font-weight:normal; font-size:12px; color:#585858">
							  									<input type="radio" id='tismallgroup2M' name="tismallgroup2M" value="Model" />Teacher frequently uses strategies that differentiate for individual learning strengths and needs in the groups</label>
																   	
							  									<label class="radio-inline" style="margin-left: 0px; font-family:arial; font-weight:normal; font-size:12px; color:#585858">
							  									<input type="radio" id='tismallgroup3M' name="tismallgroup3M" value="Model" />Instruction in the teacher-led groups is provided in the area in which the students need the most support</label>
																   	
							  									<label class="radio-inline" style="margin-left: 0px; font-family:arial; font-weight:normal; font-size:12px; color:#585858">
							  									<input type="radio" id='tiintentionalgrouping1M' name="tiintentionalgrouping1M" value="Model" />Student groups reflect the specific learning target</label>
																   	
							  									<label class="radio-inline" style="margin-left: 0px; font-family:arial; font-weight:normal; font-size:12px; color:#585858">
							  									<input type="radio" id='tiintentionalgrouping2M' name="tiintentionalgrouping2M" value="Model" />Student groups are based on data</label>
															</div>
														</div>
												</div> <!-- container -->
											</div> <!--  end of container-fluid div -->
	  										<br />
	  										<div class="row">
	                                        		<div class="col-md-8">
	                                            		<div class="form-group">
	                                                		<label>Targeted Instruction Notes</label>
	                                                		<textarea rows="3" cols="50" class="form-control" placeholder="Notes for Targeted Instruction" name="tinotes" id="tinotes" wrap="hard" maxlength="250"></textarea><br />
													</div>
	                                        		</div>
                                   			</div>
										</div> <!-- end of div class="content hokecontent hokecontainer" -->
									</div> <!-- end of the div expandable -->
									
									
									<div id="expandable">
								   	<button type="button" class="hokeexpandable hee">ENGAGEMENT</button>
									<div class="content hokecontent hokecontainer">
									   <div class="container-fluid">
									   		<div id="container">
												<div id="content">
											  		<div id="innercontent">
											  			<div id="hokecolumn" class="hee">NOT YET</div>
											  			<label class="radio-inline" style="margin-left: 0px; font-family:arial; font-weight:normal; font-size:12px; color:#585858">
	  													<input type="radio" id='engcollaborationNY' name="engcollaborationNY" value="Not Yet" />Teacher has not created group activities that require interaction</label>
	  														
	  													<label class="radio-inline" style="margin-left: 0px; font-family:arial; font-weight:normal; font-size:12px; color:#585858">
	  													<input type="radio" id='engchoiceNY' name="engchoiceNY" value="Not Yet" />Teacher always determines the time, place, pace, and path</label>
	  														
	  													<label class="radio-inline" style="margin-left: 0px; font-family:arial; font-weight:normal; font-size:12px; color:#585858">
	  													<input type="radio" id='engcreationNY' name="engcreationNY" value="Not Yet" />Students are consuming or responding to information consumed</label>
	  														
									   					<label class="radio-inline" style="margin-left: 0px; font-family:arial; font-weight:normal; font-size:12px; color:#585858">
	  													<input type="radio" id='engcriticalthinkingNY' name="engcriticalthinkingNY" value="Not Yet" />Highest order of thinking required for class activities does not match the level required of the standard</label>
	  														
									   					<label class="radio-inline" style="margin-left: 0px; font-family:arial; font-weight:normal; font-size:12px; color:#585858">
	  													<input type="radio" id='engactiveparticipationNY' name="engactiveparticipationNY" value="Not Yet" />The majority of students are disengaged from the classroom activities</label>
	  												</div>
	  											</div>
	  											
	  											<div id="content">
											  		<div id="innercontent">
		  												<div id="hokecolumn" class="hee">MODEL</div>
		  												<label class="radio-inline" style="margin-left: 0px; font-family:arial; font-weight:normal; font-size:12px; color:#585858">
					  									<input type="radio" id='engcollaborationM' name="engcollaborationM" value="Model" />Teacher creates group activities that requires student interaction with feedback</label>
					  										
					  									<label class="radio-inline" style="margin-left: 0px; font-family:arial; font-weight:normal; font-size:12px; color:#585858">
					  									<input type="radio" id='engchoiceM' name="engchoiceM" value="Model" />Teacher provides opportunities for students to choose one of time, place, pace, or path</label>
														   	
					  									<label class="radio-inline" style="margin-left: 0px; font-family:arial; font-weight:normal; font-size:12px; color:#585858">
					  									<input type="radio" id='engcreationM' name="engcreationM" value="Model" />Students or groups are creating to show evidence of learning</label>
					  										
					  									<label class="radio-inline" style="margin-left: 0px; font-family:arial; font-weight:normal; font-size:12px; color:#585858">
					  									<input type="radio" id='engcriticalthinkingM' name="engcriticalthinkingM" value="Model" />Highest order of thinking required for class activities matches or exceeds the level required of the standard</label>
					  										
					  									<label class="radio-inline" style="margin-left: 0px; font-family:arial; font-weight:normal; font-size:12px; color:#585858">
					  									<input type="radio" id='engactiveparticipationM' name="engactiveparticipationM" value="Model" />The majority of students are attentive, find the activity meaningful, and persist through difficulty with the goal of completing it correctly</label>
					  								</div>
												</div>
											</div> <!-- <label for="idccontentalignment1" class="error"></label> -->
			  			 				</div> <!--  end of container-fluid div -->
										   	
	  									<br />
	  									
	  									<div class="row">
	                                        		<div class="col-md-8">
	                                            		<div class="form-group">
	                                                		<label>Engagement Notes</label>
	                                                		<textarea rows="3" cols="50" class="form-control" placeholder="Notes for Engagement" name="engnotes" id="engnotes" wrap="hard" maxlength="250"></textarea><br />
													</div>
	                                        		</div>
                                    		</div>
	  									
										</div> <!-- end of div class="content hokecontent hokecontainer" -->
									</div> <!-- end of the div expandable -->
									
									
									<div id="expandable">
								   	<button type="button" class="hokeexpandable heenv">ENVIRONMENT</button>
									<div class="content hokecontent hokecontainer">
									   <div class="container-fluid">
									   		<div id="container">
												<div id="content">
											  		<div id="innercontent">
										   				<div id="hokecolumn" class="heenv">NOT YET</div>
										   				<label class="radio-inline" style="margin-left: 0px; font-family:arial; font-weight:normal; font-size:12px; color:#585858">
	  													<input type="radio" id='envclassroommanagementNY' name="envclassroommanagementNY" value="Not Yet" />Multiple students are not engaged in station tasks and exhibiting disruptive behaviors that interrupt the class</label>
	  										
	  													<label class="radio-inline" style="margin-left: 0px; font-family:arial; font-weight:normal; font-size:12px; color:#585858">
	  													<input type="radio" id='envphysicalenvironmentNY' name="envphysicalenvironmentNY" value="Not Yet" />Desks and tables are fixed in rows without consideration for student interactions and collaboration</label>
	  														
	  													<label class="radio-inline" style="margin-left: 0px; font-family:arial; font-weight:normal; font-size:12px; color:#585858">
	  													<input type="radio" id='envtimemanagement1NY' name="envtimemanagement1NY" value="Not Yet" />No time management exists or is inadequate</label>
	  										
										   				<label class="radio-inline" style="margin-left: 0px; font-family:arial; font-weight:normal; font-size:12px; color:#585858">
	  													<input type="radio" id='envtimemanagement2NY' name="envtimemanagement2NY" value="Not Yet" />Teacher provides only verbal instructions or instructions that are unclear</label>
	  										
	  													<label class="radio-inline" style="margin-left: 0px; font-family:arial; font-weight:normal; font-size:12px; color:#585858">
	  													<input type="radio" id='envdigitalcitizenshipNY' name="envdigitalcitizenshipNY" value="Not Yet" />Teacher does not model respect and responsibility when using technology and students have not been taught the basics of good citizenship</label>
	  												</div>
	  											</div>
	  											
	  											<div id="content">
											  		<div id="innercontent">
										   				<div id="hokecolumn" class="heenv">MODEL</div>
										   				<label class="radio-inline" style="margin-left: 0px; font-family:arial; font-weight:normal; font-size:12px; color:#585858">
	  													<input type="radio" id='envclassroommanagementM' name="envclassroommanagementM" value="Model" />Teacher maintains a positive classroom environment that engages all learners and addresses disruptive behaviors</label>
	  									
	  													<label class="radio-inline" style="margin-left: 0px; font-family:arial; font-weight:normal; font-size:12px; color:#585858">
	  													<input type="radio" id='envphysicalenvironmentM' name="envphysicalenvironmentM" value="Model" />The teacher has designed several spaces for student interaction and collaboration</label>
										   	
	  													<label class="radio-inline" style="margin-left: 0px; font-family:arial; font-weight:normal; font-size:12px; color:#585858">
	  													<input type="radio" id='envtimemanagement1M' name="envtimemanagement1M" value="Model" />Teacher implements a system of time management that encourages students to complete tasks within the time allotted</label>
	  										
	  													<label class="radio-inline" style="margin-left: 0px; font-family:arial; font-weight:normal; font-size:12px; color:#585858">
	  													<input type="radio" id='envtimemanagement2M' name="envtimemanagement2M" value="Model" />Teacher provides clear instructions for students that allows them to work independently</label>
										   	
	  													<label class="radio-inline" style="margin-left: 0px; font-family:arial; font-weight:normal; font-size:12px; color:#585858">
	  													<input type="radio" id='envdigitalcitizenshipM' name="envdigitalcitizenshipM" value="Model" />Teacher models respect and responsibility when using technology and intentionally teaches digital citizenship skills to students</label>
	  												</div>
	  											</div>
											</div> <!-- <label for="idccontentalignment1" class="error"></label> -->
			  			 				</div> <!--  end of container-fluid div -->
										   	
	  									<br />
	  									
	  									<div class="row">
	                                        		<div class="col-md-8">
	                                            		<div class="form-group">
	                                                		<label>Environment Notes</label>
	                                                		<textarea rows="3" cols="50" class="form-control" placeholder="Notes for Engagement" name="envnotes" id="envnotes" wrap="hard" maxlength="250"></textarea><br />
													</div>
	                                        		</div>
                                    		</div>
	  									
										</div> <!-- end of div class="content hokecontent hokecontainer" -->
									</div> <!-- end of the div expandable -->
									
									
										
									</div> <!-- end of main container -->
										   
										   
										<!-- levelup to add later   

										<div class="levelupclass" style="float: right; width: 25%;">
											<a href="#" style="visibility: hidden"
												id="planningLevelUpData" title="Level Up for Planning"
												data-toggle="popover" data-html="true" data-trigger="hover"
												data-content="Level up data not initialized"><img
												src="images/levelup.png" height="33" width="45"></img> </a> <br />

											<a href="#" style="visibility: hidden"
												id="assessanddataLevelUpData"
												title="Level Up for Assessment And Data"
												data-toggle="popover" data-html="true" data-trigger="hover"
												data-content="Level up data not initialized"><img
												src="images/levelup.png" height="33" width="45"></img> </a> <br />

											<a href="#" style="visibility: hidden" id="pathLevelUpData"
												title="Level Up for Path" data-toggle="popover"
												data-html="true" data-trigger="hover"
												data-content="Level up data not initialized"><img
												src="images/levelup.png" height="33" width="45"></img> </a> <br />

											<a href="#" style="visibility: hidden" id="placeLevelUpData"
												title="Level Up for Place" data-toggle="popover"
												data-html="true" data-trigger="hover"
												data-content="Level up data not initialized"><img
												src="images/levelup.png" height="33" width="45"></img> </a> <br />

											<a href="#" style="visibility: hidden" id="paceLevelUpData"
												title="Level Up for Pace" data-toggle="popover"
												data-html="true" data-trigger="hover"
												data-content="Level up data not initialized"><img
												src="images/levelup.png" height="33" width="45"></img> </a> <br />

											<a href="#" style="visibility: hidden"
												id="classroommgmtLevelUpData"
												title="Level Up for Classroom Managment"
												data-toggle="popover" data-html="true" data-trigger="hover"
												data-content="Level up data not initialized"><img
												src="images/levelup.png" height="33" width="45"></img> </a> <br />

											<a href="#" style="visibility: hidden"
												id="teacherroleLevelUpData"
												title="Level Up for Teacher Role" data-toggle="popover"
												data-html="true" data-trigger="hover"
												data-content="Level up data not initialized"><img
												src="images/levelup.png" height="33" width="45"></img> </a> <br />

											<a href="#" style="visibility: hidden"
												id="studentengagementLevelUpData"
												title="Level Up for Student Engagement"
												data-toggle="popover" data-html="true" data-trigger="hover"
												data-content="Level up data not initialized"><img
												src="images/levelup.png" height="33" width="45"></img> </a> <br />

											<a href="#" style="visibility: hidden"
												id="studentcollabLevelUpData"
												title="Level Up for Student Collaboration"
												data-toggle="popover" data-html="true" data-trigger="hover"
												data-content="Level up data not initialized"><img
												src="images/levelup.png" height="33" width="45"></img> </a> <br />

											<a href="#" style="visibility: hidden"
												id="technologyLevelUpData" title="Level Up for Technology"
												data-toggle="popover" data-html="true" data-trigger="hover"
												data-content="Level up data not initialized"><img
												src="images/levelup.png" height="33" width="45"></img> </a> <br />

										</div>  -->
										


										<div class="row">
											<div class="col-md-9">
												<div class="form-group">
													<label>Rubric Notes</label>
													<textarea rows="5" cols="50" class="form-control" placeholder="Notes from Rubric" name="rubricnotes"
														id="rubricnotes" wrap="hard" maxlength="500" readonly="readonly"></textarea>
													<br />
												</div>
											</div>
										</div>

										<div class="row">
											<div class="col-md-9">
												<div class="form-group">
													<label>Questions</label>
													<textarea rows="5" cols="50" class="form-control" placeholder="Questions" name="questions" id="questions"
														wrap="hard" maxlength="500" readonly="readonly"></textarea>
													<br />
												</div>
											</div>
										</div>
										
										<div class="row">
											<div class="col-md-11">
												<div class="levelupcheckboxes">
													<div id="levelupcheckboxes" class="custom-control-input"></div>
												</div>
											</div>
										</div>
										
										<div id="cbResults">
											<input type="hidden" id="checkedValues" name="checkedValues" ></input>
										  	<input type="hidden" id="unCheckedValues" name="unCheckedValues"></input>
										</div>
										
										<button type="submit" class="btn btn-info btn-fill" style="margin:auto; display:block;" 
											name="Submit" value="Submit" onclick="loopForm(document.frm);">Update LevelUp Items
										</button>
										
										
									</form>

								</div>
							</div>

							<div th:replace="fragments/footer :: footer"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>