<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
		<title>DSD-PD Coaching Application | Hoke Intervention Form</title>
		
		<meta charset="utf-8" />	
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
		
		<link rel="icon" type="image/png" href="img/favicon.ico"/>
		
		<!--   JS Files   -->
		<script src="js/lib/jquery.js"></script>
		<script src="js/lib/jquery-ui.min.js"></script>
		<script src="js/lib/timepicker.js"></script>
		<script src="js/lib/bootstrap.min.js"></script>
		<script src="js/lib/bootstrap-select.js"></script>
		<script src="js/lib/bootstrap-multiselect.js"></script>
		<script src="js/lib/jquery.validate.min.js"></script>
		<script src="js/lib/light-bootstrap-dashboard.js"></script>
		<script src="js/hokeInterventionForm.js"></script>
		<script src="js/master.js"></script>
		<script src="js/lib/choices.js"></script>
		
		<!--   CSS Files   -->
		<link href="css/lib/jquery-ui.css" rel="stylesheet"/>
	    <link href="css/lib/bootstrap.min.css" rel="stylesheet"/>
	    <link href="css/lib/light-bootstrap-dashboard.css" rel="stylesheet"/>
	    <link href="css/lib/timepicker.css" rel="stylesheet"/>
	    <link href="css/lib/bootstrap-multiselect.css" rel="stylesheet"/>
	    <link href="css/misc.css" rel="stylesheet"/>
	    <link href="css/popup.css" rel="stylesheet"/>
	    
	    <!--   Fonts and icons     -->
	    <link href="css/lib/pe-icon-7-stroke.css" rel="stylesheet"/>
    	    <link href='//fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'/>
    	    <link href='//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css' rel='stylesheet' type='text/css'/>
    
    <style>
     		.radio-inline{
     			font-family: arial, Times, serif;
     			font-size: 14px;
     			color: yellow;
     			}
     		
     		.hoke-select{
     			margin-bottom: 20px !important;
     			font-family: arial;
     		}
     		
     		.hoke-label{
     			margin-bottom: 0px !important;
     			font-size: 16px;
     			font-family:arial; 
     			font-weight:normal; 
     			color:#3E6B8B
     		}
     		
     		.modal-body{
     			padding: 0px !important;
     		}
     		
     		.btn{
     			margin-bottom: 15px !important;
     		}
     		
     		.md-size-list{
width:170px;
padding:0px;
overflow-x:scroll;
}
     		
	</style>
    
    </head>
    
     <body>
		<div class="wrapper">
		    <div th:replace="fragments/nav :: nav"></div>
		    
			<div class="main-panel">
			    <div th:replace="fragments/header :: header"></div>

		        <div class="content">
		            <div class="container-fluid">
		                <div class="row">
		                    <div class="col-md-11">
		                        <div class="card">
		                            <div class="header">
		                                <h2 class="title">Hoke Intervention Form - W.I.N</h2>
		                            </div>
		                            <div class="content">
		                                <form id="frm" name="frm" action="#" th:action="@{/hokeInterventionForm}" th:object="${hokeInterventionData}" method="post">
		                                    <div class="row">
		                                        <div class="col-md-3" style="margin-right:25px;">
		                                            <div class="form-group">
		                                                <label>School</label>
		                                                <select id="schoolId" class="form-control" th:field="*{schoolId}">
			                                                	<option value="">Please Select</option>
			                                                	<option th:each="school: ${schoolList}" 
			                                                			th:value="${school.id}" 
			                                                			th:text="${school.name}">
			                                                	</option>
														</select>
		                                            </div>
		                                        </div>                          
		      
		                                        	<div class="col-md-2" style="margin-right:20px;">
													<div class="form-group">
														<label>Teacher</label> <br></br>
														<select id="teacherId" th:field="*{teacherId}">
															<option value=""> Please Select </option>
															<option th:each="teacher : ${teachers}"
																th:value="${teacher.teacherId}"
																th:utext="${teacher.teacherId" />
														</select>
													</div>
												</div>
											</div>
		
		                                    <div class="row">
		                                        <div class="col-md-2">
		                                            <div class="form-group">
		                                                	<label>Date</label>
		                                               	<input type="text" id="entryDate" class="form-control" placeholder="Date" th:field="*{date}"/>
													</div>
		                                        </div>
		                                        <div class="col-md-2">
				                                    <div class="form-group">
				                                        <label>Time Observed</label>
				                                        <input type="text" id="timeObserved" 
				                                        class="time form-control" placeholder="Time Observed" th:field="*{timeObserved}"/>
				                                    </div>
			                                    </div>
			                                    
			                                    <div class="col-md-5">
													<div class="form-group">
														<label id="emailreport">Email Report</label><br />
														<div class="checkboxes" id="teachercheckboxdiv">
															<input type="checkbox" id="teachercheckbox" style="display: none;" name="teachercheckbox"></input> 
															<label for="teachercheckbox" class="checkbox-inline" id="teacherlabel" name="teacherlabel"
																style="margin-left: 2px; padding-left: 2px; padding-top: 4px; padding-right: 15px;">
															</label>
														</div>
														
													</div>
												</div>
											</div>
			                                
                                    <hr></hr>
                                    
                                    
                                   	<div class="modal-body row">
									  <div class="col-md-5">
									  
									  	<!-- First Column -->
									    <label class="form-label select-label hoke-label">Face To Face</label><br />
	  									<select multiple="multiple" id="facetoface" name="facetoface" class="selectpicker multiple hoke-select">
											<option value="Face to Face">Face to Face</option>
											<option value="Online (Zoom)">Online (Zoom)</option>
										  	<option value="Blended Model (In-Class and Online)">Blended Model (In-Class and Online)</option>
										</select>
								
										<br />
										
										<label class="hoke-label">Grade Level</label><br />
	  									<select multiple="multiple" id="gradeLevel" name="gradeLevel" class="selectpicker multiple hoke-select">
										  	<option value="Face to Face">Kindergarten</option>
										  	<option value=" Grade">First Grade</option>
										  	<option value="Second Grade">Second Grade</option>
										  	<option value="Third Grade">Third Grade</option>
										  	<option value="Fourth Grade">Fourth Grade</option>
										  	<option value="Fifth Grade">Fifth Grade</option>
										  	<option value="Sixth Grade">Sixth Grade</option>
										  	<option value="Seventh Grade">Seventh Grade</option>
										  	<option value="Eighth Grade">Eighth Grade</option>
										  	<option value="Ninth Grade">Ninth Grade</option>
										  	<option value="Tenth Grade">Tenth Grade</option>
										  	<option value="Eleventh Grade">Eleventh Grade</option>
										  	<option value="Twelfth Grade">Twelfth Grade</option>
										</select>
										
	  									<br />
	  									
	  									<label class="hoke-label">Content Area</label><br />
										<select id="contentArea" name="contentArea" class="mdb-select md-form hoke-select">
	  										<option value="">Please Select</option>
										  	<option value="Reading/ELA">Reading/ELA</option>
										  	<option value="Math">Math</option>
										  	<option value="Writing">Writing</option>
										  	<option value="Science">Science</option>
										</select>
										
										<br />
										
										<label class="hoke-label">W.I.N Time Implemented with Fidelity</label><br />
										<select id="fidelity" name="fidelity" class="mdb-select md-form hoke-select">
	  										<option value="">Please Select</option>
										  	<option value="Yes">Yes</option>
										  	<option value="No">No</option>
										  	<option value="I Don't Know">I Don't Know</option>
										  	<option value="Other">Other: Explain in Comments</option>
										</select>
										
										<br />
										
										<label class="hoke-label">Students Appear</label><br />
										<select id="studentsAppear" name="studentsAppear" class="mdb-select md-form hoke-select">
	  										<option value="">Please Select</option>
										  	<option value="Yes">Yes</option>
										  	<option value="No">No</option>
										  	<option value="I Don't Know">I Don't Know</option>
										  	<option value="Other">Other: Explain in Comments</option>
										</select>
										
										<br />
										
										<label class="hoke-label">Lesson was Standards Based</label><br />
										<select id="standardsBased" name="standardsBased" class="mdb-select md-form hoke-select">
	  										<option value="">Please Select</option>
										  	<option value="Yes">Yes</option>
										  	<option value="No">No</option>
										</select>
										
										<br />
										
										<label class="hoke-label">Lesson Matched Student's Needs</label><br />
										<select id="lessonMatched" name="lessonMatched" class="mdb-select md-form hoke-select">
	  										<option value="">Please Select</option>
										  	<option value="Evident">Evident</option>
										  	<option value="Not Evident">Not Evident</option>
										</select>
										
										<br />
										
										<label class="hoke-label">Instructor Encouragement and Enthusiasm</label><br />
										<select id="instructorEncouragement" name="instructorEncouragement" class="mdb-select md-form hoke-select">
	  										<option value="">Please Select</option>
										  	<option value="Yes">Yes</option>
										  	<option value="No">No</option>
										  	<option value="Sometimes">Sometimes</option>
										</select>
										
										<br />
										
										<label class="hoke-label">The Lesson was Evidence Based</label><br />
										<select id="evidenceBased" name="evidenceBased" class="mdb-select md-form hoke-select">
	  										<option value="">Please Select</option>
										  	<option value="Yes">Yes</option>
										  	<option value="No">No</option>
										</select>
										
										<br />
										
										<label class="hoke-label">Provides Positive, Constructive Feedback</label><br />
										<select id="positiveFeedback" name="positiveFeedback" class="mdb-select md-form hoke-select">
	  										<option value="">Please Select</option>
										  	<option value="Yes">Yes</option>
										  	<option value="No">No</option>
										  	<option value="Sometimes">Sometimes</option>
										  	<option value="Other">Other: Explain in Comments</option>
										</select>
										
										<br />
										
										<label class="hoke-label">Effective Pacing</label><br />
										<select id="effectivePacing" name="effectivePacing" class="mdb-select md-form hoke-select">
	  										<option value="">Please Select</option>
										  	<option value="Yes">Yes</option>
										  	<option value="No">No</option>
										  	<option value="Sometimes">Sometimes</option>
										</select>
										
										<br />
										
									  </div>
									  
									  <!-- Second Column -->
									  <div class="col-md-6">
									    <label class="hoke-label">Intervention Delivery Option</label><br />
	  									<select multiple="multiple" id="interventionDelivery" name="interventionDelivery" class="selectpicker hoke-select multiple">
										  	<option value="School-Wide Intervention Block">School-Wide Intervention Block</option>
										  	<option value="Grade Level Intervention Block">Grade Level Intervention Block</option>
										  	<option value="Within Classroom Intervention Time outside of Core Instruction">Within Classroom Intervention Time outside of Core Instruction</option>
										  	<option value="Elective Course">Elective Course</option>
										  	<option value="Double Block/Year Long Course">Double Block/Year Long Course</option>
										  	<option value="After Normal School Hours Support">After Normal School Hours Support</option>
										</select>
							
										<br />
										
										<label class="hoke-label">Number of Students</label><br />
	  									<select id="numberOfStudents" name="numberOfStudents" class="mdb-select md-form hoke-select">
	  										<option value="">Please Select</option>
										  	<option value="Less than 5">Less than 5</option>
										  	<option value="5-10">5-10</option>
										  	<option value="10-15">10-15</option>
										  	<option value="More than 15">More than 15</option>
										</select>
										
										<br />
										
										<label class="hoke-label">Intervention Begins/Ends on Time</label><br />
										<select id="interventionTiming" name="interventionTiming" class="mdb-select md-form hoke-select">
	  										<option value="">Please Select</option>
										  	<option value="Yes">Yes</option>
										  	<option value="No">No</option>
										  	<option value="Other">Other: Explain in Comments</option>
										</select>
										
										<br />
										
										<label class="hoke-label">Instructor is Prepared</label><br />
										<select id="instructorPrepared" name="instructorPrepared" class="mdb-select md-form hoke-select">
	  										<option value="">Please Select</option>
										  	<option value="Yes">Yes</option>
										  	<option value="No">No</option>
										  	<option value="Somewhat">Somewhat</option>
										  	<option value="Other">Other: Explain in Comments</option>
										</select>
										
										<br />
										
										<label class="hoke-label">Lesson Specific for W.I.N Time</label><br />
										<select id="lessonPlan" name="lessonPlan" class="mdb-select md-form hoke-select">
	  										<option value="">Please Select</option>
										  	<option value="Yes">Yes</option>
										  	<option value="No">No</option>
										  	<option value="Other">Other: Explain in Comments</option>
										</select>
										
										<br />
										
										<label class="hoke-label">Lesson Objectives Met</label><br />
										<select id="lessonObjectives" name="lessonObjectives" class="mdb-select md-form hoke-select">
	  										<option value="">Please Select</option>
										  	<option value="Yes">Yes</option>
										  	<option value="No">No</option>
										</select>
										
										<br />
										
										<label class="hoke-label">Clear Instructions for Students</label><br />
										<select id="clearInstructions" name="clearInstructions" class="mdb-select md-form hoke-select">
	  										<option value="">Please Select</option>
										  	<option value="Yes">Yes</option>
										  	<option value="No">No</option>
										  	<option value="At times">At times</option>
										  	<option value="Other">Other: Explain in Comments</option>
										</select>
										
										<br />
										
										<label class="hoke-label">Effective Modeling is Evident</label><br />
										<select id="effectiveModeling" name="effectiveModeling" class="mdb-select md-form hoke-select">
	  										<option value="">Please Select</option>
										  	<option value="Yes">Yes</option>
										  	<option value="No">No</option>
										  	<option value="Somewhat">Somewhat(only in one area)</option>
										  	<option value="Other">Other: Explain in Comments</option>
										</select>
										
										<br />
										
										<label class="hoke-label">Instructor adheres to the Instructional Components</label><br />
										<select id="instructionalComponents" name="instructionalComponents" class="mdb-select md-form hoke-select">
	  										<option value="">Please Select</option>
										  	<option value="Yes">Yes</option>
										  	<option value="No">No</option>
										  	<option value="Other">Other: Explain in Comments</option>
										</select>
										
										<br />
										
										<label class="hoke-label">Progress Monitoring is Occurring</label><br />
										<select id="progressMonitoring" name="progressMonitoring" class="mdb-select md-form hoke-select">
	  										<option value="">Please Select</option>
										  	<option value="Yes">Yes</option>
										  	<option value="No">No</option>
										  	<option value="Sometimes">Sometimes</option>
										  	<option value="Other">Other: Explain in Comments</option>
										</select>
										
										<br />
									  </div>
									</div>

  
                                    <div class="container">
	  									
	  									
	  								<hr></hr>
	  								
	  								<div class="row">
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <label>Rubric Notes</label>
                                                <textarea rows="5" cols="50" class="form-control" placeholder="Notes" name="interventionNotes" id="interventionNotes" wrap="hard" maxlength="700"></textarea><br />
											</div>
                                        </div>
                                    </div>
                                    
                                    <br />
                                    
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <label>List Skills and Standards Observed</label>
                                                <textarea rows="5" cols="50" class="form-control" placeholder="Skills and Standards" name="skillsStandards" id="skillsStandards" wrap="hard" maxlength="700"></textarea><br />
											</div>
                                        </div>
                                    </div>
                                    
                                    <br />
                                    
                                    <div class="row"> 
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <label>Feedback for any Areas Not Observed</label>
                                                <textarea rows="5" cols="50" class="form-control" placeholder="Glows and Grows" name="glowsGrows" id="glowsGrows" wrap="hard" maxlength="700"></textarea><br />
											</div>
                                        </div>
                                    </div>
                                    
	  								</div>
		                                    <button type="submit" class="btn btn-info btn-fill pull-right" name="Submit" value="Submit">Submit</button>
		                                    <div class="clearfix"></div>
		                                </form>
		                            </div>
		                        </div>
									
								<div th:replace="fragments/footer :: footer"></div>
		                    </div>
		                </div>
		            </div>
		        </div>
			</div>
		</div>
	</body>
</html>