<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
		<title>DSD-PD Coaching Application | Hoke Rubric Form</title>
		
		<meta charset="utf-8" />	
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
		
		<link rel="icon" type="image/png" href="img/favicon.ico"/>
		
		<!--   JS Files   -->
		<script src="js/lib/jquery.js"></script>
		<script src="js/lib/jquery-ui.min.js"></script>
		<script src="js/lib/timepicker.js"></script>
		<script src="js/lib/bootstrap.min.js"></script>
		<script src="js/lib/bootstrap-select.js"></script>
		<script src="js/lib/bootstrap-multiselect.js"></script>
		<script src="js/lib/jquery.validate.min.js"></script>
		<script src="js/lib/light-bootstrap-dashboard.js"></script>
		<script src="js/hokeRubricForm.js"></script>
		<script src="js/master.js"></script>
		
		<!--   CSS Files   -->
		<link href="css/lib/jquery-ui.css" rel="stylesheet"/>
	    <link href="css/lib/bootstrap.min.css" rel="stylesheet"/>
	    <link href="css/lib/light-bootstrap-dashboard.css" rel="stylesheet"/>
	    <link href="css/lib/timepicker.css" rel="stylesheet"/>
	    <link href="css/lib/bootstrap-multiselect.css" rel="stylesheet"/>
	    <link href="css/misc.css" rel="stylesheet"/>
	    <link href="css/popup.css" rel="stylesheet"/>
	    
	    <!--   Fonts and icons     -->
	    <link href="css/lib/pe-icon-7-stroke.css" rel="stylesheet"/>
    	    <link href='//fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'/>
    	    <link href='//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css' rel='stylesheet' type='text/css'/>
    
    <style>
     		.radio-inline{
     			font-family: arial, Times, serif;
     			font-size: 14px;
     			color: yellow;
     			}
	</style>
    
    </head>
    
     <body>
		<div class="wrapper">
		    <div th:replace="fragments/nav :: nav"></div>
		    
			<div class="main-panel">
			    <div th:replace="fragments/header :: header"></div>

		        <div class="content">
		            <div class="container-fluid">
		                <div class="row">
		                    <div class="col-md-11">
		                        <div class="card">
		                            <div class="header">
		                                <h2 class="title">BL Walkthrough Form</h2>
		                            </div>
		                            <div class="content">
		                                <form id="frm" name="frm" action="#" th:action="@{/hokeRubricForm}" th:object="${hokeRubricData}" method="post">
		                                    <div class="row">
		                                        <div class="col-md-3" style="margin-right:25px;">
		                                            <div class="form-group">
		                                                <label>School</label>
		                                                <select id="schoolId" class="form-control" th:field="*{schoolId}">
			                                                	<option value="">Please Select</option>
			                                                	<option th:each="school: ${schoolList}" 
			                                                			th:value="${school.id}" 
			                                                			th:text="${school.name}">
			                                                	</option>
														</select>
		                                            </div>
		                                        </div>                          
		      
		                                        	<div class="col-md-2" style="margin-right:20px;">
													<div class="form-group">
														<label>Teacher</label> <br></br>
														<select id="teacherId" th:field="*{teacherId}">
															<option value=""> Please Select </option>
															<option th:each="teacher : ${teachers}"
																th:value="${teacher.teacherId}"
																th:utext="${teacher.teacherId" />
														</select>
													</div>
												</div>
												
		                                    </div>
		
		                                    <div class="row">
		                                        <div class="col-md-2">
		                                            <div class="form-group">
		                                                	<label>Date</label>
		                                               	<input type="text" id="entryDate" class="form-control" placeholder="Date" th:field="*{date}"/>
													</div>
		                                        </div>
			                                    
			                                    <div class="col-md-5">
												<div class="form-group">
													<label id="emailreport">Email Report</label><br />
													<div class="checkboxes" id="teachercheckboxdiv">
														<input type="checkbox" id="teachercheckbox" style="display: none;" name="teachercheckbox"></input> 
														<label for="teachercheckbox" class="checkbox-inline" id="teacherlabel" name="teacherlabel"
															style="margin-left: 2px; padding-left: 2px; padding-top: 4px; padding-right: 15px;">
														</label>
													</div>
													
												</div>
											</div>
											
			                                </div>
			                                
			                                
			                         <div class="container">
                                  		<h5 style="font-weight:bold">Data Entered</h5>
										<label class="radio-inline" style="width:250px; font-family:arial; font-weight:normal; font-size:12px; color:#585858">
										<input type="radio" id="observed" name="observed" value="Observed Classroom" />Coach's View of the Classroom</label><br></br>
                                     	
                                     	<label class="radio-inline" style="width:250px; font-family:arial; font-weight:normal; font-size:12px; color:#585858">
                                     	<input type="radio" id="observed" name="observed" value="Teacher Completed" />Teacher's View of the Classroom</label><br></br>
                                     	
                                     	<label class="radio-inline" style="width:250px; font-family:arial; font-weight:normal; font-size:12px; color:#585858">
                                     	<input type="radio" id="observed" name="observed" value="Site Visit" />Visitor's View of the Classroom</label><br></br>
                                    		<label for="observed" class="error"></label>
                                    	</div>
                            
                                    
                                    <hr></hr>
                                   	
                                    <div class="container">
	  									<label style="font-family:arial; font-weight:normal; font-size:18px; color:#3E6B8B">Checklists</label><br />
	  									<select id="checklists" name="checklists" class="mdb-select md-form">
										  <option value="">Please Select</option>
										  <option value="1">Defined activities/products and progression</option>
										  <option value="2">Student choice in activities/products OR progression</option>
										  <option value="3">Student choice in activities/products AND progression</option>
										  <option value="0">Not Observed</option>
										</select>
										
										<br /><br /><br />
										
										<label style="font-family:arial; font-weight:normal; font-size:18px; color:#3E6B8B">Digital Content, Independent Practice, Teacher-Led, 4 Cs</label><br />
	  									<select id="digitalContent" name="digitalContent" class="mdb-select md-form">
										  <option value="">Please Select</option>
										  <option value="1">Station Rotation</option>
										  <option value="2">Individual Rotation (more teacher driven)</option>
										  <option value="3">Individual Rotation (student driven progression)</option>
										  <option value="0">Not Observed</option>
										</select>
	  									
										<br /><br /><br />
										
										<label style="font-family:arial; font-weight:normal; font-size:18px; color:#3E6B8B">Seating</label><br />
	  									<select id="seating" name="seating" class="mdb-select md-form">
										  <option value="">Please Select</option>
										  <option value="1">Fixed Seating: prescribed by the teacher</option>
										  <option value="2">Flexible Seating Periods</option>
										  <option value="3">Flexible Seating</option>
										  <option value="0">Not Observed</option>
										</select>
										
	  									<br /><br /><br />
	  									
	  									<label style="font-family:arial; font-weight:normal; font-size:18px; color:#3E6B8B">Timing</label><br />
	  									<select id="timing" name="timing" class="mdb-select md-form">
										  <option value="">Please Select</option>
										  <option value="1">Whole Group Timer</option>
										  <option value="2">Fluid Timing Periods</option>
										  <option value="3">Fluid Timing</option>
										  <option value="0">Not Observed</option>
										</select>
										
										<br /><br /><br />
										
										<label style="font-family:arial; font-weight:normal; font-size:18px; color:#3E6B8B">Differentiation</label><br />
										<select id="differentiation" name="differentiation" class="mdb-select md-form">
										  <option value="">Please Select</option>
										  <option value="1">Occurs at the teacher-led station/small group, at a minimum</option>
										  <option value="2">Occurs at the teacher-led station/small group time, and at least one other</option>
										  <option value="3">Occurs at the teacher-led station/small group time, and at least one other</option>
										  <option value="0">Not Observed</option>
										</select>
										
										<br /><br /><br />
										
										<label style="font-family:arial; font-weight:normal; font-size:18px; color: #3E6B8B">Student Groups for Teacher Led/Small Group Time</label><br />
										<select id="studentGroups" name="studentGroups" class="mdb-select md-form">
										  <option value="">Please Select</option>
										  <option value="1">Fixed Student Groups; determined by the teacher</option>
										  <option value="2">Fluid Student Groups</option>
										  <option value="3">Fluid Student Groups: changing with often relevent learning target data (not BM)</option>
										  <option value="0">Not Observed</option>
										</select>
										
										<br /><br /><br />
										
										<label style="font-family:arial; font-weight:normal; font-size:18px; color: #3E6B8B">Data and Assessment</label><br />
										<select id="data" name="data" class="mdb-select md-form">
										  <option value="">Please Select</option>
										  <option value="1">Collected from Benchmarks</option>
										  <option value="2">Collected from Multiple Sources</option>
										  <option value="3">Collected from Multiple Sources, including student profile data</option>
										  <option value="0">Not Observed</option>
										</select>
										
										<br /><br /><br />
										
										<label style="font-family:arial; font-weight:normal; font-size:18px; color:#3E6B8B">Reflection and Goal Setting</label><br />
										<select id="reflection" name="reflection" class="mdb-select md-form">
										  <option value="">Please Select</option>
										  <option value="1">Informal and Guided by the teacher</option>
										  <option value="2">Formal and Guided by the teacher</option>
										  <option value="3">Formal, student generated, and based on preassessment</option>
										  <option value="0">Not Observed</option>
										</select>
										
										<br /><br /><br />
										
										<label style="font-family:arial; font-weight:normal; font-size:18px; color:#3E6B8B">Student Learning Paths</label><br />
										<select id="studentLearning" name="studentLearning" class="mdb-select md-form">
										  <option value="">Please Select</option>
										  <option value="1">All students on same path</option>
										  <option value="2">Student paths differ based on small group, 1:1 time</option>
										  <option value="3">Students path is based on Learning Target preassessment data</option>
										  <option value="0">Not Observed</option>
										</select>
										
										<br />
	  									
	  								<hr></hr>
	  								
	  								<div class="row">
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <label>Rubric Notes</label>
                                                <textarea rows="5" cols="50" class="form-control" placeholder="Notes from Rubric" name="rubricNotes" id="rubricNotes" wrap="hard" maxlength="700"></textarea><br />
											</div>
                                        </div>
                                    </div>
                                    
	  								</div>
		                                    <button type="submit" class="btn btn-info btn-fill pull-right" name="Submit" value="Submit">Submit</button>
		                                    <div class="clearfix"></div>
		                                </form>
		                            </div>
		                        </div>
									
								<div th:replace="fragments/footer :: footer"></div>
		                    </div>
		                </div>
		            </div>
		        </div>
			</div>
		</div>
	</body>
</html>