<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head> 
    		<meta charset="utf-8" />	
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
		<meta name="google-site-verification" content="LDl41i-yzgl7BoyhVlS47B_tvMXIrLY1bpSUGUzRCN8" />
    
		<title>Growing Hoke - Instructional Coaching Application</title>
		<style>
			.panel-default {
			 opacity: 0.9;
			 margin-top:30px;
			}
			.form-group.last {
			 margin-bottom:0px;
			}
		</style>
				
		<link rel="icon" type="image/png" href="img/favicon.ico"/>
		
		<link href="css/lib/bootstrap.min.css" rel="stylesheet" />
		<link href="css/login.css" rel="stylesheet" />
    </head>
    <body>
	    <div class="main-panel">
		    	<div class="container text-center">
		        	<img src="images/growinghoke.png" th:src="@{/images/growinghoke.png}" class="center-block" style="margin-top:50px; margin-bottom:50px;"/>
		        	<div class="login">
					<form th:action="@{/login.html}" method="post">
			    			<input type="text" class="form-control" id="userid" name="username" placeholder="ID"/>
			    			<input type="password" class="form-control password" id="password" name="password" placeholder="Password"/>
	    			        <div th:if="${param.error}">
						    Invalid username and password.
						</div>
						<div th:if="${param.logout}">
						    You have been logged out.
						</div>
			    			
						<input class="btn btn-block btn-lg btn-success submit" style="background-color:#ad0000; margin-bottom:40px; border-color:black;"  type="submit" value="Login"/>
					</form>
					<img src="images/hokelogo.png" th:src="@{/images/hokelogo.png}" class="center-block" style="width:175px;height:204px;"/>
		        	
				</div>
				
			</div>
	    </div>
	    	<br/>
    		<br/>
    </body>
</html>