
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
		<title>DSD-PD Coaching Application | Ninja Level Form</title>
		
		<meta charset="utf-8" />	
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		
		<link rel="icon" type="image/png" href="img/favicon.ico"/>
		
		<!--   JS Files   -->
		<script src="js/lib/jquery.js"></script>
		<script src="js/lib/jquery-ui.min.js"></script>
		<script src="js/lib/timepicker.js"></script>
		<script src="js/lib/bootstrap.min.js"></script>
		<script src="js/lib/bootstrap-select.js"></script>
		<script src="js/lib/bootstrap-multiselect.js"></script>
		<script src="js/lib/jquery.validate.min.js"></script>
		<script src="js/lib/light-bootstrap-dashboard.js"></script>
		<script src="js/ninjalevelform.js"></script>
		<script src="js/master.js"></script>
		
		<!--   CSS Files   -->
		<link href="css/lib/jquery-ui.css" rel="stylesheet"/>
	    <link href="css/lib/bootstrap.min.css" rel="stylesheet"/>
	    <link href="css/lib/light-bootstrap-dashboard.css" rel="stylesheet"/>
	    <link href="css/lib/timepicker.css" rel="stylesheet"/>
	    <link href="css/lib/bootstrap-multiselect.css" rel="stylesheet"/>
	    <link href="css/misc.css" rel="stylesheet"/>
	    <link href="css/popup.css" rel="stylesheet"/>
	    
	    <!--   Fonts and icons     -->
	    <link href="css/lib/pe-icon-7-stroke.css" rel="stylesheet"/>
    	    <link href='//fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'/>
    	    <link href='//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css' rel='stylesheet' type='text/css'/>
    
    <style>
  
	.custom-radios input[type=radio] {
	  display: none;
	}
	
	.custom-radios input[type=radio] + label {
	  	color: #333;
	  	font-family: Arial, sans-serif;
	  	font-size: 14px;
	}
	.custom-radios input[type=radio] + label span {
		display: inline-block;
		width: 20px;
		height: 20px;
		margin: -1px 4px 0 0;
		cursor: pointer;
		border-radius: 50%;
		border: 2px solid #FFFFFF;
		box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
		background-repeat: no-repeat;
		background-position: center;
		text-align: center;
	}
	.custom-radios input[type=radio] + label span img {
	  opacity: 0;
	  transition: all 0.3s ease;
	}
	.custom-radios input[type=radio].white + label span {
	  background-color: #ffffff; 
	}
	.custom-radios input[type=radio].yellow + label span {
	  background-color: #f1c40f; 
	}
	.custom-radios input[type=radio].orange + label span {
	  background-color: #e74c3c;
	}
	.custom-radios input[type=radio].green + label span {
	  background-color: #2ecc71;
	}
	.custom-radios input[type=radio].blue + label span {
	  background-color: #0000FF;
	}
	.custom-radios input[type=radio].purple + label span {
	  background-color: #cc8899;
	}
	.custom-radios input[type=radio].brown + label span {
	  background-color: #964b00;
	}
	.custom-radios input[type=radio].red + label span {
	  background-color: #ff0000;
	}
	.custom-radios input[type=radio]:checked + label span img {
	  opacity: 1;
	}

	</style>
    
    </head>
    
     <body>
		<div class="wrapper">
		    <div th:replace="fragments/nav :: nav"></div>
		    
			<div class="main-panel">
			    <div th:replace="fragments/header :: header"></div>

		        <div class="content">
		            <div class="container-fluid">
		                <div class="row">
		                    <div class="col-md-11">
		                        <div class="card">
		                            <div class="header">
		                                <h2 class="title">Ninja Teacher Form</h2>
		                            </div>
		                            <div class="content">
		                                <form id="ninjalevelform" name="ninjalevelform" action="#" th:action="@{/hokeModelTeacherRubricForm}" th:object="${ninjaLevelTeachingData}" method="post">
		                                    <div class="row">
		                                        <div class="col-md-3" style="margin-right:25px;">
		                                            <div class="form-group">
		                                                <label>School</label>
		                                                <select id="schoolId" class="form-control" th:field="*{schoolId}">
			                                                	<option value="">Please Select</option>
			                                                	<option th:each="school: ${schoolList}" 
			                                                			th:value="${school.id}" 
			                                                			th:text="${school.name}">
			                                                	</option>
														</select>
		                                            </div>
		                                        </div>                          
		      
	                                        	<div class="col-md-2" style="margin-right:20px;">
													<div class="form-group">
														<label>Teacher</label>
														<select id="teacherId" th:field="*{teacherId}">
															<option value=""> Please Select </option>
															<option th:each="teacher : ${teachers}"
																th:value="${teacher.teacherId}"
																th:utext="${teacher.teacherId" />
														</select>
													</div>
												</div>
												
												<div class="col-md-2">
		                                            <div class="form-group">
		                                                	<label>Date</label>
		                                               	<input type="text" id="entryDate" class="form-control" placeholder="Date" th:field="*{date}"/>
													</div>
		                                        </div>
		                                    </div>
		
			                                
                                    <hr></hr>
                                    
 
                                    <!-- START of SMALL GROUP STUDIO -->
								   	<button type="button" class="hokeexpandable purple">SMALL GROUP STUDIO</button>
									   <div class="container-fluid content hokecontent hokecontainer" style="padding:5px;">
									   		<div class="form-inline">
												<div>
										   			<div class="row">
											   			<div class="col-sm-9 custom-radios">
											   				<div>
																<label for="color-1" style="margin-right:25px; font-family:arial; font-weight:normal; font-size:11px; color:#585858">
																	Teaching the content to a few students while the other students are working on other learning studios
																</label>
													  		</div>
				  										</div>
				  										<div class="col-sm-3 custom-radios">
											   				<div>
												   				<input type="radio" class="white" id="smallgroupwhiteyes" name="smallgroupwhite" value="smallgroupwhiteyes" />
																	<label for="smallgroupwhiteyes" style="margin-right:25px; font-family:arial; font-weight:normal; font-size:11px; color:#585858">
																		<span>
																        	<img src="/images/whitebeltimage.png" width="22px" height="22px" alt="Checked Icon" />
																      	</span>
																      	Yes
																    </label>
																<input type="radio" class="white" id="smallgroupwhiteno" name="smallgroupwhite" value="smallgroupwhiteno" />
																	<label for="smallgroupwhiteno" style="margin-right:25px; font-family:arial; font-weight:normal; font-size:11px; color:#585858">
																		<span>
																        	<img src="/images/ninjax.png" width="22px" height="22px" alt="Checked Icon" />
																      	</span>
																      	No
																    </label>
													  		</div>
				  										</div>
				  									</div>
				  									
				  									<div class="row" id="smallgroupyellowrow" style="display: none">
											   			<div class="col-sm-9 custom-radios">
											   				<div>
																<label for="color-2" style="margin-right:25px; font-family:arial; font-weight:normal; font-size:11px; color:#585858">
																	Using manipulatives and anchor charts to showcase the concepts to the students
																</label>
													  		</div>
				  										</div>
				  										<div class="col-sm-3 custom-radios">
											   				<div>
												   				<input type="radio" class="yellow" id="smallgroupyellowyes" name="smallgroupyellow" value="smallgroupyellowyes" />
																	<label for="smallgroupyellowyes" style="margin-right:25px; font-family:arial; font-weight:normal; font-size:11px; color:#585858">
																		<span>
																        	<img src="/images/yellowbeltimage.png" width="22px" height="22px" alt="Checked Icon" />
																      	</span>
																      	Yes
																    </label>
																    <input type="radio" class="yellow" id="smallgroupyellowno" name="smallgroupyellow" value="smallgroupyellowno" />
																	<label for="smallgroupyellowno" style="margin-right:25px; font-family:arial; font-weight:normal; font-size:11px; color:#585858">
																		<span>
																        	<img src="/images/ninjax.png" width="22px" height="22px" alt="Checked Icon" />
																      	</span>
																      	No
																    </label>
													  		</div>
				  										</div>
				  									</div>
				  									
				  									<div class="row" id="smallgrouporangerow" style="display: none">
											   			<div class="col-sm-9 custom-radios">
											   				<div>
																<label for="color-2" style="margin-right:25px; font-family:arial; font-weight:normal; font-size:11px; color:#585858">
																	Differentiated Instruction based on the data from formative assessment
																</label>
													  		</div>
				  										</div>
				  										<div class="col-sm-3 custom-radios">
											   				<div>
												   				<input type="radio" class="orange" id="smallgrouporangeyes" name="smallgrouporange" value="smallgrouporangeyes" />
																	<label for="smallgrouporangeyes" style="margin-right:25px; font-family:arial; font-weight:normal; font-size:11px; color:#585858">
																		<span>
																        	<img src="/images/orangebeltimage.png" width="22px" height="22px" alt="Checked Icon" />
																      	</span>
																      	Yes
																    </label>
																    <input type="radio" class="orange" id="smallgrouporangeno" name="smallgrouporange" value="smallgrouporangeno" />
																	<label for="smallgrouporangeno" style="margin-right:25px; font-family:arial; font-weight:normal; font-size:11px; color:#585858">
																		<span>
																        	<img src="/images/ninjax.png" width="22px" height="22px" alt="Checked Icon" />
																      	</span>
																      	No
																    </label>
													  		</div>
				  										</div>
				  									</div>
				  									
				  									<div class="row" id="smallgroupgreenrow" style="display: none">
											   			<div class="col-sm-9 custom-radios">
											   				<div>
																<label for="color-2" style="margin-right:25px; font-family:arial; font-weight:normal; font-size:11px; color:#585858">
																	Using the teacher tracker to help determine the groups based on a quick exit ticket from the small group instruction
																</label>
													  		</div>
				  										</div>
				  										<div class="col-sm-3 custom-radios">
											   				<div>
												   				<input type="radio" class="green" id="smallgroupgreenyes" name="smallgroupgreen" value="smallgroupgreenyes" />
																	<label for="smallgroupgreenyes" style="margin-right:25px; font-family:arial; font-weight:normal; font-size:11px; color:#585858">
																		<span>
																        	<img src="/images/greenbeltimage.png" width="22px" height="22px" alt="Checked Icon" />
																      	</span>
																      	Yes
																    </label>
																    <input type="radio" class="green" id="smallgroupgreenno" name="smallgroupgreen" value="smallgroupgreenno" />
																	<label for="smallgroupgreenno" style="margin-right:25px; font-family:arial; font-weight:normal; font-size:11px; color:#585858">
																		<span>
																        	<img src="/images/ninjax.png" width="22px" height="22px" alt="Checked Icon" />
																      	</span>
																      	No
																    </label>
													  		</div>
				  										</div>
				  									</div>
				  									
				  									<div class="row" id="smallgroupbluerow" style="display: none">
											   			<div class="col-sm-9 custom-radios">
											   				<div>
																<label for="color-2" style="margin-right:25px; font-family:arial; font-weight:normal; font-size:11px; color:#585858">
																	Tie in data meetings as part of the small groups
																</label>
													  		</div>
				  										</div>
				  										<div class="col-sm-3 custom-radios">
											   				<div>
												   				<input type="radio" class="blue" id="smallgroupblueyes" name="smallgroupblue" value="smallgroupblueyes" />
																	<label for="smallgroupblueyes" style="margin-right:25px; font-family:arial; font-weight:normal; font-size:11px; color:#585858">
																		<span>
																        	<img src="/images/bluebeltimage.png" width="22px" height="22px" alt="Checked Icon" />
																      	</span>
																      	Yes
																    </label>
																    <input type="radio" class="blue" id="smallgroupblueno" name="smallgroupblue" value="smallgroupblueno" />
																	<label for="smallgroupblueno" style="margin-right:25px; font-family:arial; font-weight:normal; font-size:11px; color:#585858">
																		<span>
																        	<img src="/images/ninjax.png" width="22px" height="22px" alt="Checked Icon" />
																      	</span>
																      	No
																    </label>
													  		</div>
				  										</div>
				  									</div>
				  									
				  									<div class="row" id="smallgrouppurplerow" style="display: none">
											   			<div class="col-sm-9 custom-radios">
											   				<div>
																<label for="color-2" style="margin-right:25px; font-family:arial; font-weight:normal; font-size:11px; color:#585858">
																	Provide optional small groups for the students to attend based on their individual data and goals
																</label>
													  		</div>
				  										</div>
				  										<div class="col-sm-3 custom-radios">
											   				<div>
												   				<input type="radio" class="purple" id="smallgrouppurpleyes" name="smallgrouppurple" value="smallgrouppurpleyes" />
																	<label for="smallgrouppurpleyes" style="margin-right:25px; font-family:arial; font-weight:normal; font-size:11px; color:#585858">
																		<span>
																        	<img src="/images/purplebeltimage.png" width="22px" height="22px" alt="Checked Icon" />
																      	</span>
																      	Yes
																    </label>
																    <input type="radio" class="purple" id="smallgrouppurpleno" name="smallgrouppurple" value="smallgrouppurpleno" />
																	<label for="smallgrouppurpleno" style="margin-right:25px; font-family:arial; font-weight:normal; font-size:11px; color:#585858">
																		<span>
																        	<img src="/images/ninjax.png" width="22px" height="22px" alt="Checked Icon" />
																      	</span>
																      	No
																    </label>
													  		</div>
				  										</div>
				  									</div>
				  									
							  					</div>
											</div>
										</div> <!-- END OF SMALL GROUP STUDIO -->
										
										<br />
	  					
										<!-- START of INDEPENDENT STUDIO -->
								   		<button type="button" class="hokeexpandable orange">INDEPENDENT STUDIO</button>
										   <div class="container-fluid content hokecontent hokecontainer" style="padding:5px;">
									   		<div class="form-inline">
												<div>
										   			<div class="row">
											   			<div class="col-sm-9 custom-radios">
											   				<div>
																<label for="color-1" style="margin-right:25px; font-family:arial; font-weight:normal; font-size:11px; color:#585858">
																	Students practice the standard or skill while the teacher is working in the small group studio
																</label>
													  		</div>
				  										</div>
				  										<div class="col-sm-3 custom-radios">
											   				<div>
												   				<input type="radio" class="white" id="independentstudiowhiteyes" name="independentstudiowhite" value="independentstudiowhiteyes" />
																	<label for="independentstudiowhiteyes" style="margin-right:25px; font-family:arial; font-weight:normal; font-size:11px; color:#585858">
																		<span>
																        	<img src="/images/whitebeltimage.png" width="22px" height="22px" alt="Checked Icon" />
																      	</span>
																      	Yes
																    </label>
																<input type="radio" class="white" id="independentstudiowhiteno" name="independentstudiowhite" value="independentstudiowhiteno" />
																	<label for="independentstudiowhiteno" style="margin-right:25px; font-family:arial; font-weight:normal; font-size:11px; color:#585858">
																		<span>
																        	<img src="/images/ninjax.png" width="22px" height="22px" alt="Checked Icon" />
																      	</span>
																      	No
																    </label>
													  		</div>
				  										</div>
				  									</div>
				  									
				  									<div class="row" id="independentstudioyellowrow" style="display: none">
											   			<div class="col-sm-9 custom-radios">
											   				<div>
																<label for="color-2" style="margin-right:25px; font-family:arial; font-weight:normal; font-size:11px; color:#585858">
																	Try the grab bag practice with the activity sheets (Cut the questions apart)
																</label>
													  		</div>
				  										</div>
				  										<div class="col-sm-3 custom-radios">
											   				<div>
												   				<input type="radio" class="yellow" id="independentstudioyellowyes" name="independentstudioyellow" value="independentstudioyellowyes" />
																	<label for="independentstudioyellowyes" style="margin-right:25px; font-family:arial; font-weight:normal; font-size:11px; color:#585858">
																		<span>
																        	<img src="/images/yellowbeltimage.png" width="22px" height="22px" alt="Checked Icon" />
																      	</span>
																      	Yes
																    </label>
																    <input type="radio" class="yellow" id="independentstudioyellowno" name="independentstudioyellow" value="independentstudioyellowno" />
																	<label for="independentstudioyellowno" style="margin-right:25px; font-family:arial; font-weight:normal; font-size:11px; color:#585858">
																		<span>
																        	<img src="/images/ninjax.png" width="22px" height="22px" alt="Checked Icon" />
																      	</span>
																      	No
																    </label>
													  		</div>
				  										</div>
				  									</div>
				  									
				  									<div class="row" id="independentstudioorangerow" style="display: none">
											   			<div class="col-sm-9 custom-radios">
											   				<div>
																<label for="color-2" style="margin-right:25px; font-family:arial; font-weight:normal; font-size:11px; color:#585858">
																	Post the answers for the students to check their work
																</label>
													  		</div>
				  										</div>
				  										<div class="col-sm-3 custom-radios">
											   				<div>
												   				<input type="radio" class="orange" id="independentstudioorangeyes" name="independentstudioorange" value="independentstudioorangeyes" />
																	<label for="independentstudioorangeyes" style="margin-right:25px; font-family:arial; font-weight:normal; font-size:11px; color:#585858">
																		<span>
																        	<img src="/images/orangebeltimage.png" width="22px" height="22px" alt="Checked Icon" />
																      	</span>
																      	Yes
																    </label>
																    <input type="radio" class="orange" id="independentstudioorangeno" name="independentstudioorange" value="independentstudioorangeno" />
																	<label for="independentstudioorangeno" style="margin-right:25px; font-family:arial; font-weight:normal; font-size:11px; color:#585858">
																		<span>
																        	<img src="/images/ninjax.png" width="22px" height="22px" alt="Checked Icon" />
																      	</span>
																      	No
																    </label>
													  		</div>
				  										</div>
				  									</div>
				  									
				  									<div class="row" id="independentstudiogreenrow" style="display: none">
											   			<div class="col-sm-9 custom-radios">
											   				<div>
																<label for="color-2" style="margin-right:25px; font-family:arial; font-weight:normal; font-size:11px; color:#585858">
																	The independent practice can be online or offline activities (Review the 55-35-10 guide)
																</label>
													  		</div>
				  										</div>
				  										<div class="col-sm-3 custom-radios">
											   				<div>
												   				<input type="radio" class="green" id="independentstudiogreenyes" name="independentstudiogreen" value="independentstudiogreenyes" />
																	<label for="independentstudiogreenyes" style="margin-right:25px; font-family:arial; font-weight:normal; font-size:11px; color:#585858">
																		<span>
																        	<img src="/images/greenbeltimage.png" width="22px" height="22px" alt="Checked Icon" />
																      	</span>
																      	Yes
																    </label>
																    <input type="radio" class="green" id="independentstudiogreenno" name="independentstudiogreen" value="independentstudiogreenno" />
																	<label for="independentstudiogreenno" style="margin-right:25px; font-family:arial; font-weight:normal; font-size:11px; color:#585858">
																		<span>
																        	<img src="/images/ninjax.png" width="22px" height="22px" alt="Checked Icon" />
																      	</span>
																      	No
																    </label>
													  		</div>
				  										</div>
				  									</div>
				  									
				  									<div class="row" id="independentstudiobluerow" style="display: none">
											   			<div class="col-sm-9 custom-radios">
											   				<div>
																<label for="color-2" style="margin-right:25px; font-family:arial; font-weight:normal; font-size:11px; color:#585858">
																	Move toward deploying differentiated practice activities for the students
																</label>
													  		</div>
				  										</div>
				  										<div class="col-sm-3 custom-radios">
											   				<div>
												   				<input type="radio" class="blue" id="independentstudioblueyes" name="independentstudioblue" value="independentstudioblueyes" />
																	<label for="independentstudioblueyes" style="margin-right:25px; font-family:arial; font-weight:normal; font-size:11px; color:#585858">
																		<span>
																        	<img src="/images/bluebeltimage.png" width="22px" height="22px" alt="Checked Icon" />
																      	</span>
																      	Yes
																    </label>
																    <input type="radio" class="blue" id="independentstudioblueno" name="independentstudioblue" value="independentstudioblueno" />
																	<label for="independentstudioblueno" style="margin-right:25px; font-family:arial; font-weight:normal; font-size:11px; color:#585858">
																		<span>
																        	<img src="/images/ninjax.png" width="22px" height="22px" alt="Checked Icon" />
																      	</span>
																      	No
																    </label>
													  		</div>
				  										</div>
				  									</div>
				  									
				  									<div class="row" id="independentstudiopurplerow" style="display: none">
											   			<div class="col-sm-9 custom-radios">
											   				<div>
																<label for="color-2" style="margin-right:25px; font-family:arial; font-weight:normal; font-size:11px; color:#585858">
																	Students pick the independent activities that align to their individual goals
																</label>
													  		</div>
				  										</div>
				  										<div class="col-sm-3 custom-radios">
											   				<div>
												   				<input type="radio" class="purple" id="independentstudiopurpleyes" name="independentstudiopurple" value="independentstudiopurpleyes" />
																	<label for="independentstudiopurpleyes" style="margin-right:25px; font-family:arial; font-weight:normal; font-size:11px; color:#585858">
																		<span>
																        	<img src="/images/purplebeltimage.png" width="22px" height="22px" alt="Checked Icon" />
																      	</span>
																      	Yes
																    </label>
																    <input type="radio" class="purple" id="independentstudiopurpleno" name="independentstudiopurple" value="independentstudiopurpleno" />
																	<label for="independentstudiopurpleno" style="margin-right:25px; font-family:arial; font-weight:normal; font-size:11px; color:#585858">
																		<span>
																        	<img src="/images/ninjax.png" width="22px" height="22px" alt="Checked Icon" />
																      	</span>
																      	No
																    </label>
													  			</div>
				  											</div>
				  										</div>
							  						</div>
												</div>
											</div> <!-- END OF INDEPENDENT STUDIO -->
										
										<br />
										
										<!-- START of DIGITAL CONTENT -->
								   		<button type="button" class="hokeexpandable yellow">DIGITAL CONTENT</button>
										   <div class="container-fluid content hokecontent hokecontainer" style="padding:5px;">
										   		<div class="form-inline">
													<div>
													</div>
												</div>
											</div> <!-- END OF DIGITAL CONTENT -->
										
										<br />
										
										<!-- START of FUTURE READY -->
								   		<button type="button" class="hokeexpandable fuschia">FUTURE READY</button>
										   <div class="container-fluid content hokecontent hokecontainer" style="padding:5px;">
										   		<div class="form-inline">
													<div>
													</div>
												</div>
											</div> <!-- END OF FUTURE READY -->
										
										<br />
											
										<!-- START of PLACE -->
								   		<button type="button" class="hokeexpandable green">PLACE</button>
										   <div class="container-fluid content hokecontent hokecontainer" style="padding:5px;">
										   		<div class="form-inline">
													<div>
													</div>
												</div>
											</div> <!-- END OF PLACE -->
											
										<br />
											
										<!-- START of PATH -->
								   		<button type="button" class="hokeexpandable gold">PATH</button>
										   <div class="container-fluid content hokecontent hokecontainer" style="padding:5px;">
										   		<div class="form-inline">
													<div>
													</div>
												</div>
											</div> <!-- END OF PATH -->
										
										<br />
											
										<!-- START of PACE -->
								   		<button type="button" class="hokeexpandable red">PACE</button>
										   <div class="container-fluid content hokecontent hokecontainer" style="padding:5px;">
										   		<div class="form-inline">
													<div>
													</div>
												</div>
											</div> <!-- END OF PACE -->
											
										<br />
											
										<!-- START of DIRECTIONS -->
								   		<button type="button" class="hokeexpandable coral">DIRECTIONS</button>
										   <div class="container-fluid content hokecontent hokecontainer" style="padding:5px;">
										   		<div class="form-inline">
													<div>
													</div>
												</div>
											</div> <!-- END OF DIRECTIONS -->
											
										<br />
											
										<!-- START of STUDENT CHOICE -->
								   		<button type="button" class="hokeexpandable navy">STUDENT CHOICE</button>
										   <div class="container-fluid content hokecontent hokecontainer" style="padding:5px;">
										   		<div class="form-inline">
													<div>
													</div>
												</div>
											</div> <!-- END OF STUDENT CHOICE -->
											
										<br />
											
										<!-- START of ORGANIZATION -->
								   		<button type="button" class="hokeexpandable pink">ORGANIZATION</button>
										   <div class="container-fluid content hokecontent hokecontainer" style="padding:5px;">
										   		<div class="form-inline">
													<div>
													</div>
												</div>
											</div> <!-- END OF ORGANIZATION -->
										
										<br />
											
										<!-- START of CHECKLIST -->
								   		<button type="button" class="hokeexpandable ice">CHECKLIST</button>
										   <div class="container-fluid content hokecontent hokecontainer" style="padding:5px;">
										   		<div class="form-inline">
													<div>
													</div>
												</div>
											</div> <!-- END OF CHECKLIST -->
											
										<br />
											
										<!-- START of DATA -->
								   		<button type="button" class="hokeexpandable blue">DATA</button>
										   <div class="container-fluid content hokecontent hokecontainer" style="padding:5px;">
										   		<div class="form-inline">
													<div>
													</div>
												</div>
											</div> <!-- END OF DATA -->
											
										<br />
										
										<br />
										
	  								<hr></hr>
	  								
	  								<div class="row">
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <label>Rubric Notes</label>
                                                <textarea rows="5" cols="50" class="form-control" placeholder="Notes" name="rubricNotes" id="rubricNotes" wrap="hard" maxlength="700"></textarea><br />
											</div>
                                        </div>
                                    </div>
	  								
		                                    <button type="submit" class="btn btn-info btn-fill pull-right" name="Submit" value="Submit">Submit</button>
		                                    <div class="clearfix"></div>
		                                </form>
		                            </div>
		                        </div>
									
								<div th:replace="fragments/footer :: footer"></div>
		                    </div>
		                </div>
		            </div>
		        </div>
			</div>
		</div>
	</body>
</html>