<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8"/>
	</head>
	<body>
		<nav class="navbar navbar-default navbar-fixed" th:fragment="header">
			<div class="container-fluid" style="background-color: white">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<ul class="nav navbar-nav">
	      				<li class="active"><img align="top" src="/images/hokelogo.png" style="max-height: 80px; max-width: 80px; float:left;"></img></li>
       				</ul>
					<a class="navbar-brand" style="padding-left: 1.0em; font-family: Oswald; color: #A60505; font-size:25px;">
						<b>GrowingHoke Instructional Coaching Application</b>
					</a>
  				</div>
					
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav navbar-right">                      
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown<b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="coachingForm.html">Coaching Form</a></li>
								<li><a href="coachingReport.html">Coaching Report</a></li>
								<li><a href="rubricForm.html">Rubric Form</a></li>
								<li><a href="rubricReport.html">Rubric Report</a></li>
							</ul>
						</li>                        
						<li>
							<a href="javascript: document.logoutForm.submit()">Log out</a>
							<form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
							   <input hidden="true" type="submit" value="Sign Out"/>
							</form>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</body>
</html>