<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8"/>
	</head>
	<body>
		<nav class="navbar navbar-default navbar-fixed" th:fragment="header">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav navbar-right">                      
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown<b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="coachingDataForm.jsp">Coaching Form</a></li>
								<li><a href="coachingReport.jsp">Coaching Report</a></li>
								<li><a href="rubricDataForm.jsp">Rubric Form</a></li>
								<li><a href="rubricReport.jsp">Rubric Report</a></li>
								<li><a href="schoolHoursReport.jsp">School Hours Report</a></li>
								<li><a href="schoolRubricReport.jsp">SchoolRubric Report</a></li>
							</ul>
						</li>                        
						<li>
							<a href="javascript: document.logoutForm.submit()">Log out</a>
							<form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
							   <input hidden="true" type="submit" value="Sign Out"/>
							</form>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</body>
</html>