<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<link href="css/misc.css" rel="stylesheet" />
		<meta charset="UTF-8"/>
	</head>
	<body>
		<div class="sidebar" data-color="azure" data-image="img/sidebar-4.jpg" th:fragment="nav">
		    	<div class="sidebar-wrapper">
				<div class="logo" style="color:#FF9200; font-size:12px; font-weight:bold;">&#169;DSD Professional Development</div>
				<ul class="nav">
					<li class="active master">
						<a href="dashboard.html" onmouseover="this.style.color='blue'" onmouseout="this.style.color='white'">
							<p>Dashboard</p>
						</a>
					</li>
					<li class="active master">
						<a href="teacherManagementForm.html" onmouseover="this.style.color='blue'" onmouseout="this.style.color='white'">
							<p>Add/Delete Teachers</p>
						</a>
					</li>
					<li class="active master">
						<a href="ninjalevelteaching.html" onmouseover="this.style.color='blue'" onmouseout="this.style.color='white'">
							<p>Ninja Training Form</p>
						</a>
					</li>
					<li class="active master">
						<a href="coachingForm.html" onmouseover="this.style.color='blue'" onmouseout="this.style.color='white'">
							<p>Coaching Form</p>
						</a>
					</li>
					<li class="active master">
						<a href="rubricForm.html" onmouseover="this.style.color='blue'" onmouseout="this.style.color='white'">
							<p>Rubric Form</p>
						</a>
					</li>
					<li class="active chicago" style="display:none">
						<a href="chicagoBlendRubricForm.html" onmouseover="this.style.color='blue'" onmouseout="this.style.color='white'">
							<p>Chicago Rubric Form</p>
						</a>
					</li>
					
					
					<hr align="center" width="90%" style="margin:10px; padding-left:10px" />
					
					
					<li class="active master">
						<a href="ninjalevelteachingreport.html" onmouseover="this.style.color='blue'" onmouseout="this.style.color='white'">
							<p>Ninja Training Report</p>
						</a>
					</li>
					<li class="active master">
						<a href="coachingReport.html" onmouseover="this.style.color='blue'" onmouseout="this.style.color='white'">
							<p>Coaching Report</p>
						</a>
					</li>
					<li class="active master">
						<a href="interactionReport.html" onmouseover="this.style.color='blue'" onmouseout="this.style.color='white'">
							<p>Interaction Report</p>
						</a>
					</li>
					<li class="active master">
						<a href="teacherProgressionReport.html" onmouseover="this.style.color='blue'" onmouseout="this.style.color='white'">
							<p>Progress Report</p>
						</a>
					</li>
					<li class="active master">
						<a href="rubricReport.html" onmouseover="this.style.color='blue'" onmouseout="this.style.color='white'">
							<p>Rubric Report</p>
						</a>
					</li>
					<li class="active master">
						<a href="schoolRubricReport.html" onmouseover="this.style.color='blue'" onmouseout="this.style.color='white'">
							<p>School Report</p>
						</a>
					</li>
		        </ul>
			</div>
		</div>
	</body>
</html>