<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<link href="css/misc.css" rel="stylesheet" />
		<meta charset="UTF-8"/>
	</head>
	<body>
		<div class="sidebar" data-color="white" th:fragment="nav">
		    	<div class="sidebar-wrapper" style="background: #F7F7F7;" >
				
				<ul class="nav">
				
					<li class="active">
						<a href="coachingForm.html" style="background:#50A01C;" onmouseover="this.style.color='black'" onmouseout="this.style.color='white'">
							<b>Coaching Form</b>
						</a>
					</li>
					
					<li class="active">
						<a href="hokeRubricForm.html" style="background:#8F2110;" onmouseover="this.style.color='black'" onmouseout="this.style.color='white'">
							<b>BL Walkthrough Form</b>
						</a>
					</li>
					
					<li class="active">
						<a href="hokeModelTeacherRubricForm.html" style="background:#8F2110;" onmouseover="this.style.color='black'" onmouseout="this.style.color='white'">
							<b>BL Model Teacher Form</b>
						</a>
					</li>
					
					<li class="active">
						<a href="hokeInterventionForm.html" style="background:#6A14A0;" onmouseover="this.style.color='black'" onmouseout="this.style.color='white'">
							<b>MTSS Walkthrough Form</b>
						</a>
					</li>
					
					<hr align="center" width="90%" style="margin:10px; padding-left:10px" />
					
					<li class="active">
						<a href="dashboard.html" style="background:#50A01C;" onmouseover="this.style.color='black'" onmouseout="this.style.color='white'">
							<b>Dashboard</b>
						</a>
					</li>
					
					<li class="active">
						<a href="interactionReport.html" style="background:#50A01C;" onmouseover="this.style.color='black'" onmouseout="this.style.color='white'">
							<b>Interaction Report</b>
						</a>
					</li>
					
					<li class="active">
						<a href="coachingReport.html" style="background:#50A01C;" onmouseover="this.style.color='black'" onmouseout="this.style.color='white'">
							<b>Coaching Reports</b>
						</a>
					</li>
					
					<li class="active">
						<a href="hokeRubricReport.html" style="background:#8F2110;" onmouseover="this.style.color='black'" onmouseout="this.style.color='white'">
							<b>BL Walkthrough Reports</b>
						</a>
					</li>
					
					<li class="active">
						<a href="teacherProgressionReport.html" style="background:#8F2110;" onmouseover="this.style.color='black'" onmouseout="this.style.color='white'">
							<b>BL Teacher Progress</b>
						</a>
					</li>
					
					<li class="active">
						<a href="hokeSchoolRubricReport.html" style="background:#8F2110;" onmouseover="this.style.color='black'" onmouseout="this.style.color='white'">
							<b>BL School Reports</b>
						</a>
					</li>
					
					<li class="active">
						<a href="hokeModelTeacherRubricReport.html" style="background:#8F2110;" onmouseover="this.style.color='black'" onmouseout="this.style.color='white'">
							<b>BL Model Teacher Reports</b>
						</a>
					</li>
					
					<li class="active">
						<a href="" style="background:#6A14A0;" onmouseover="this.style.color='black'" onmouseout="this.style.color='white'">
							<b>MTSS Walkthrough Reports</b>
						</a>
					</li>
					
					<hr align="center" width="90%" style="margin:10px; padding-left:10px" />
					
					<li class="active">
						<a href="teacherManagementForm.html" onmouseover="this.style.color='blue'" onmouseout="this.style.color='white'">
							<b>Add/Delete Teachers</b>
						</a>
					</li>
					
		        </ul>
			</div>
		</div>
	</body>
</html>