<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8"/>
	</head>
	<body>
		<div class="sidebar" data-color="azure" data-image="img/sidebar-4.jpg" th:fragment="nav">
		    	<div class="sidebar-wrapper">
				<div class="logo">&#169;DSD Professional Development</div>
				<ul class="nav">
					<li class="active">
						<a href="dashboard.jsp">
							<i class="pe-7s-graph"></i>
							<p>Dashboard</p>
						</a>
					</li>
					<li class="active">
						<a href="coachingForm.html">
							<i class="pe-7s-graph"></i>
							<p>Coaching Form</p>
						</a>
					</li>
					<li class="active">
						<a href="rubricForm.html">
							<i class="pe-7s-graph"></i>
							<p>Rubric Form</p>
						</a>
					</li>
					<li class="active">
						<a href="coachingReport.html">
							<i class="pe-7s-graph"></i>
							<p>Coaching Report</p>
						</a>
					</li>
					<li class="active">
						<a href="rubricReport.jsp">
							<i class="pe-7s-graph"></i>
							<p>Rubric Report</p>
						</a>
					</li>
		        </ul>
			</div>
		</div>
	</body>
</html>