/* basic positioning */
.legend { list-style: none; padding-left:0;}
.legend li { float: left; margin-right: 20px; }
.legend span { border: 1px solid #ccc; float: left; width: 12px; height: 12px; margin: 2px; }
/* your colors */
.legend .phaseone { float: left; background-color: #FF9900; }
.legend .phasetwo { float: left; background-color: #6300A5; }
.legend .phasethree { float: left; background-color: #0FAD00; }
.legend .empty { float: left; background-color: black; }

#frm .error {
    color: red;
}
hokeform .error {
    color: red;
}
.checkboxes label {
    font-size: 12px;
    color: #666;
}
.input-disabled{
	background-color:#FFF !important;
}
.radio-inline1 {
	font-family: arial, Times, serif;
	font-size: 14px;
	color: yellow;
}
/*hide role-specific hoke county html*/
.modaltext {
	margin-left:20px; 
	font-size:14px;
}
.hokecontent {
	display: none;
	padding: 1px;
}
.hokeexpandable {
	color: white;
	cursor: pointer;
	padding: 8px;
	width: 100%;
	height: 50px;
	border: none;
	text-align: center;
	outline: none;
	font-size: 20px;
	max-width: 100%;
}
.hokeactive, .hokeexpandable:hover {
	background-color: #555;
}

.heidc {
	background-color: coral;
}
.heti {
	background-color: #A9DFBF;
}
.hee {
	background-color: #F7DC6F;
}
.heenv {
	background-color: #f5cba7;
}
.hesr {
	background-color: #85c1e9;
}
.heddd {
	background-color: #d2b4de;
}

.hokecontainer {
    width: 100%;
    margin: auto;
    float: left;
}
#hokecolumn {
    opacity: 0.7;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 20px;
    color: black;
    text-align: center;
    vertical-align: middle;
    padding-top: 1px;
}
#hokereportcolumn {
    width: 300px;
    float: left;
    opacity: 0.7;
    margin-right: 20px;
    margin-bottom: 5px;
    font-size: 20px;
    color: black;
    text-align: center;
}
.hokeradioselection {
    width: 250px;
    font-family: arial, Times, serif;
    font-size: 12px;
    font-weight: normal;
    color:#585858;
}
#spacercolumn {
    width: 250px;
    float: left;
    height: 30px;
    background-color: white;
    margin-right: 5px;
    margin-bottom: 5px;
}
#heidchokecolumn {
    width: 250px;
    float: left;
    height: 30px;
    opacity: 0.7;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 20px;
    color: blue;
    text-align: center;
    vertical-align: middle;
    padding-top: 1px;
    text-decoration: underline;
    cursor: pointer;
}
#heidchokecolumn1 {
    width: 500px;
    height: 20px;
    opacity: 0.7;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 20px;
    color: blue;
    text-align: center;
    vertical-align: middle;
    padding-top: 1px;
    text-decoration: underline;
    cursor: pointer;
}

#content {
  	float: left ;
  	width: 48% ;
}

#levelupcontent {
  	float: left ;
  	width: 2% ;
}

.hokelabel {
	padding-top: 10px;
  	padding-right: 0px;
  	padding-bottom: 0px;
  	padding-left: 10px;
}